<!-- TOP NAV -->
<div class="p-4 pb-0" data-aos="fade-in">
  @@include('../base/top-nav-child/index.html', {
    active: 'inbox',
    top_items: 'accounts',
  })
</div>

<!-- TABS -->
<div class="px-4 mb-10" data-aos="fade-up">
  <div class="tabs custom-tabs tabs-inbox">
    <div class="tab-list py-2 relative w-full">
      <!-- tab 1 -->
      <label class="tab">
        <input type="radio" name="inbox-tab" class="hidden" value="1" checked="checked" />
        <div class="flex items-center gap-2">
          <div data-i18n="inbox_page.Notifications"></div>
          (0)
        </div>
      </label>

      <!-- tab 2 -->
      <label class="tab !border-r-0">
        <input type="radio" name="inbox-tab" class="hidden" value="2" />
        <div class="flex items-center gap-2">
          <div data-i18n="inbox_page.Activities"></div>
          (10)
        </div>
      </label>

      <label class="absolute top-2 right-0">
        <i class="fa-solid fa-pen-to-square text-lg"></i>
        <input type="checkbox" name="inbox-tab-edit" class="hidden" />
      </label>
    </div>
    
    <div class="tab-content-list w-full flex flex-col gap-4">
      <div class="tab-content-item">
        @@include('./tab-content-item.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-item1.html')
      </div>
      
    </div>
  </div>
</div>

<!-- ACTIONS NAV -->
 <div class="inbox-actions-nav hidden px-4 fixed bottom-0 left-0 right-0 bg-white py-4 z-[9999] min-h-[65px] shadow-lg">
  <div class="flex items-center justify-between gap-4">
    <div class="">
      <label class="fieldset-label">
        <input type="checkbox" class="checkbox checkbox-xs rounded-xs border-gray-300 checked:border-blue1" />
        <div class="text-xs text-blue1" data-i18n="inbox_page.Select_all"></div>
      </label>
    </div>
    <div class="w-2/3 flex items-center gap-2">
      <button class="btn btn-sm flex-1 rounded-lg border-blue border-2 text-blue min-h-[40px]" data-i18n="inbox_page.Mark_as_read"></button>
      <button class="btn btn-sm flex-1 rounded-lg bg-gradient-to-b from-blue to-blue1 text-white min-h-[40px]" data-i18n="inbox_page.Delete"></button>
    </div>
  </div>
 </div>