<div class="overflow-x-auto">
  <table class="table table-sm table-zebra inbox-table">
    <tbody>

      <!-- row 1 -->
      <tr>
        <th colspan="3">Yesterday</th>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>


      <!-- row 2 -->
      <tr>
        <th colspan="3">24 Feb 2025</th>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>


      <!-- row 2 -->
      <tr>
        <th colspan="3">23 Feb 2025</th>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-0 transition-all duration-100">
          <div class="checkbox-container pl-3 hidden">
            <input type="checkbox" class="checkbox checkbox-xs rounded-xs" />
          </div>
        </td>
        <td>
          <a href="/inbox-detail.html">
            <div class="text-sm font-bold leading-6">Last Chance to Win SGD188! 🎉</div>
            <div class="opacity-50 text-xs">
              Kim Seng Joo - Don't miss out! Deposit now and get Random Bonus Today! T&Cs apply.
            </div>
          </a>
        </td>
        <td class="action">
          <a href="/inbox-detail.html">
            <i class="fa-solid fa-envelope-open opacity-40 text-base"></i>
          </a>
          <button class="hidden" onclick="inbox_delete_popup.showModal()">
            <i class="fa-solid fa-trash text-base"></i>
          </button>
        </td>
      </tr>



    </tbody>
  </table>
</div>