<div class="flex flex-col gap-6 mb-10 p-4">

  <!-- CONTENT -->
  <div class="bg-gray2 rounded-lg p-4">
    <div data-aos="fade-in">

      <div class="flex flex-col items-start justify-start gap-4 text-xs border-b border-blue pb-4 mb-4">
        <div class="flex items-center gap-1">
          <div class="w-6 h-6 bg-blue2 rounded-sm"></div>
          <div class="font-semibold" data-i18n="voucher_page.Deposit_Voucher"></div>
        </div>
        <div class="text-base font-semibold" data-i18n="voucher_page.title1"></div>
      </div>

      <div class="flex flex-col gap-2 text-xs border-b border-blue pb-4 mb-4">
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Type"></div>
          <div class="opacity-50" data-i18n="voucher_page.Type_description"></div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Validity"></div>
          <div class="opacity-50" data-i18n="voucher_page.Validity_description"></div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Turnover_Requirement"></div>
          <div class="opacity-50">X3</div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Bonus_Amount"></div>
          <div class="opacity-50">Up to SGD500</div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Deposit_Amount_to_Activate"></div>
          <div class="opacity-50">Min. SGD100</div>
        </div>
      </div>

      <div class="flex flex-col gap-2 text-xs border-b border-blue pb-4 mb-4">
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.How_to_Claim_Your_Bonus"></div>
        </div>
        <div class="">
          <ul class="pl-4 flex flex-col gap-1">
            <li class="list-decimal">
              <div class="font-semibold" data-i18n="voucher_page.Select_the_Bonus"></div>
              <div class="" data-i18n="voucher_page.Select_the_Bonus_content"></div>
            </li>
            <li class="list-decimal">
              <div class="font-semibold" data-i18n="voucher_page.Deposit"></div>
              <div class="" data-i18n="voucher_page.Deposit_content"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="flex flex-col gap-2 text-xs pb-4 mb-4">
        <div class="flex flex-col gap-1">
          <div class="font-semibold" data-i18n="voucher_page.Terms_Conditions"></div>
        </div>
        <div class="">
          <ul class="pl-4 flex flex-col gap-1">
            <li class="list-decimal" data-i18n="voucher_page.terms_1"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_2"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_3"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_4"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_5"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_6"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_7"></li>
            <li class="list-decimal" data-i18n="voucher_page.terms_8"></li>
          </ul>
        </div>
      </div>


    </div>
  </div>

  <!-- FOOTER -->
   <div class="fixed bottom-0 left-0 right-0 z-[9999] shadow-lg">
    <button class="btn py-2 w-full rounded-none border-none bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm min-h-[60px]" data-i18n="voucher_page.Redeem"></button>
   </div>

</div>
