<div class="flex gap-2 flex-col items-center">

  <!-- ITEM 1 -->
   <div class="border border-blue rounded-lg p-2 w-full">

    <div class="flex items-center justify-between gap-2 text-xs border-b border-blue pb-2">
      <div class="flex items-center gap-1">
        <div class="w-6 h-6 bg-blue2 rounded-sm"></div>
        <div class="font-semibold" data-i18n="voucher_page.Cash_Voucher"></div>
      </div>
      <div class="flex items-center gap-1">
        <div data-i18n="voucher_page.Turnover"></div>
        <div>x1</div>
      </div>
    </div>

    <div class="flex flex-col gap-1 pt-2">
      <div class="text-sm font-semibold max-w-2/3" data-i18n="voucher_page.title1"></div>
      <div class="text-2xs">
        <i class="fa-solid fa-calendar-days"></i> Valid: 13 Feb - 14 Mar 2025
      </div>
      <div class="flex items-end justify-between gap-2">
        <a href="/voucher-detail.html" class="text-xs" data-i18n="voucher_page.More_Details"></a>
        <button class="btn btn-sm bg-gradient-to-b from-blue to-blue1 text-white min-w-[100px] rounded-lg" data-i18n="voucher_page.Redeem"></button>
      </div>
    </div>

   </div>

  <!-- ITEM 2 -->
   <div class="border border-blue rounded-lg p-2 w-full">

    <div class="flex items-center justify-between gap-2 text-xs border-b border-blue pb-2">
      <div class="flex items-center gap-1">
        <div class="w-6 h-6 bg-blue2 rounded-sm"></div>
        <div class="font-semibold" data-i18n="voucher_page.Deposit_Voucher"></div>
      </div>
      <div class="flex items-center gap-1">
        <div data-i18n="voucher_page.Turnover"></div>
        <div>x3</div>
      </div>
    </div>

    <div class="flex flex-col gap-1 pt-2">
      <div class="text-sm font-semibold max-w-2/3" data-i18n="voucher_page.title2"></div>
      <div class="text-2xs">
        <i class="fa-solid fa-calendar-days"></i> Valid: Today only.
      </div>
      <div class="flex items-end justify-between gap-2">
        <a href="/voucher-detail.html" class="text-xs" data-i18n="voucher_page.More_Details"></a>
        <button class="btn btn-sm bg-gradient-to-b from-blue to-blue1 text-white min-w-[100px] rounded-lg" data-i18n="voucher_page.Deposit_Now"></button>
      </div>
    </div>

   </div>

  <!-- ITEM 3 -->
   <div class="border border-blue rounded-lg p-2 w-full">

    <div class="flex items-center justify-between gap-2 text-xs border-b border-blue pb-2">
      <div class="flex items-center gap-1">
        <div class="w-6 h-6 bg-blue2 rounded-sm"></div>
        <div class="font-semibold" data-i18n="voucher_page.Special_Benefits"></div>
      </div>
      <div class="flex items-center gap-1">
        <div data-i18n="voucher_page.Turnover"></div>
        <div>x1</div>
      </div>
    </div>

    <div class="flex flex-col gap-1 pt-2">
      <div class="text-sm font-semibold max-w-2/3" data-i18n="voucher_page.title3"></div>
      <div class="text-2xs">
        <i class="fa-solid fa-calendar-days"></i> Valid: Today only.
      </div>
      <div class="flex items-end justify-between gap-2">
        <a href="/voucher-detail.html" class="text-xs" data-i18n="voucher_page.More_Details"></a>
        <button class="btn btn-sm bg-gradient-to-b from-blue to-blue1 text-white min-w-[100px] rounded-lg" data-i18n="voucher_page.Redeem_Spin"></button>
      </div>
    </div>

   </div>

</div>