.home-slider-swiper {

  .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: 10px;
    margin: 0 2px !important;
    background-color: var(--color-gray1);
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: var(--color-blue);
    }
  }
}

.home-categories {
  .arcade-item {
    display: none;
  }

  #home-categories-checkbox {

    &:checked {
      ~.collapse-title {
        .arcade-item {
          display: flex;
        }

        .more-item {
          display: none;
        }
      }
    }
  }
}

.recently-winners {

  #recently-winners-checkbox {

    &:checked {
      ~.lucky-win {
        background-color: var(--color-blue) !important;
        color: white !important;
      }

      ~.high-roller {
        background-color: transparent !important;
        color: var(--color-blue1) !important;
      }
    }
  }

  #recently-winners-checkbox1 {

    &:checked {
      ~.lucky-win {
        background-color: transparent !important;
        color: var(--color-blue1) !important;
      }

      ~.high-roller {
        background-color: var(--color-blue) !important;
        color: white !important;
      }
    }
  }
}
