.tabs-promotions {
  gap: 10px;

  .tab-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    &>.tab {
      flex: none;
      padding: 3px 10px;
      height: auto;
      border-right: 1px solid var(--color-blue1);
      filter: grayscale(0);
      color: var(--color-blue1);
      min-width: 50px;
      text-decoration: underline;
      font-weight: 600;
      font-size: 16px;

      &:before {
        display: none;
      }

      &:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected=true]) {
        opacity: 0.5;
        color: var(--color-blue);
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
      }

      &:last-child {
        border-right: none;
      }

    }
  }

  &>.tab-content-list {
    .tab-content-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}