<!-- TOP NAV -->
<div class="px-4 pb-0" data-aos="fade-in">
  @@include('../base/top-nav-child/index.html', {
    active: 'withdrawal',
    top_items: 'transactions',
  })
</div>

<!-- MAIN WALLET -->
<div class="px-4" data-aos="fade-in">
  @@include('../deposit/main-wallet.html')
</div>

<div class="px-4 mt-6 mb-10" data-aos="fade-up">
  <div class="flex items-center justify-between">
    <div class="text-base font-semibold" data-i18n="withdrawal_page.Withdrawal_Options"></div>
  </div>

  <div class="tabs custom-tabs tabs-deposit-crypto">
    <div class="tab-list py-2 !gap-0">

      <!-- tab 2 -->
      <label class="tab">
        <input type="radio" name="deposit-crypto-tab" class="hidden" value="1" checked="checked" />
        <div class="item" data-i18n="deposit_page.B92U_Bank"></div>
      </label>

      <!-- tab 3 -->
      <label class="tab">
        <input type="radio" name="deposit-crypto-tab" class="hidden" value="2" />
        <div class="item" data-i18n="deposit_page.Bank_Transfer"></div>
      </label>

      <!-- tab 4 -->
      <label class="tab">
        <input type="radio" name="deposit-crypto-tab" class="hidden" value="3" />
        <div class="item" data-i18n="deposit_page.E_Wallets"></div>
      </label>

      <!-- tab 5 -->
      <label class="tab">
        <input type="radio" name="deposit-crypto-tab" class="hidden" value="4" />
        <div class="item" data-i18n="deposit_page.Crypto"></div>
      </label>

    </div>
    
    <div class="tab-content-list w-full flex flex-col gap-4">
      <div class="tab-content-item">
        @@include('./tab-content-B92U-bank.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-bank-transfer.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-e-wallets.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-crypto.html')
      </div>
    </div>
  </div>

</div>

