<div class="flex flex-col gap-2 deposit-form">

  <div class="flex items-center justify-end mb-1">
    <a href="/add-crypto-address.html">
      <i class="fa-solid fa-circle-plus"></i>
      <span data-i18n="withdrawal_page.Add_Crypto_Address"></span>
    </a>
  </div>

  <!-- <fieldset class="fieldset channel-fieldset">
    <select class="select channel-select w-full border-blue rounded-lg">
      <option disabled selected data-i18n="deposit_page.Select_a_Channel_Options"></option>
      <option value="1">Channel 1</option>
      <option value="2">Channel 2</option>
    </select>
  </fieldset> -->


  <!-- <fieldset class="fieldset crypto-currency-fieldset hidden">
    <select class="select w-full border-blue rounded-lg">
      <option disabled selected data-i18n="deposit_page.Select_a_Crypto_Currency_Options"></option>
      <option value="USDT">USDT</option>
      <option value="BITCOIN">BITCOIN</option>
    </select>
  </fieldset> -->

  <!-- <fieldset class="fieldset crypto-network-fieldset">
    <select class="select w-full border-blue rounded-lg">
      <option disabled selected data-i18n="deposit_page.Select_a_Crypto_Network"></option>
      <option value="ERC20">ERC20</option>
      <option value="TRC20">TRC20</option>
    </select>
  </fieldset> -->

  <fieldset class="fieldset crypto-network-fieldset">
    <select class="select w-full border-blue rounded-lg">
      <option disabled selected data-i18n="withdrawal_page.Select_a_Crypto_Address"></option>
      <option value="1">Address 1</option>
      <option value="2">Address 2</option>
    </select>
  </fieldset>

  <fieldset class="join fieldset deposit-amount-sgd-fieldset !gap-0">
    <div class="flex-1">
      <label class="input rounded-l-lg border-blue text-xs">
        <input type="text" class="text-blue placeholder:!font-light" data-i18n="deposit_page.Enter_a_Deposit_Amount" data-i18n-attr="placeholder" placeholder="" value="" />
      </label>
    </div>
    <div class="bg-blue text-white font-semibold rounded-r-lg px-2 py-1 flex items-center justify-center min-w-[100px]">SGD</div>
  </fieldset>

  <fieldset class="join fieldset deposit-amount-usdt-fieldset !gap-0">
    <div class="flex-1">
      <label class="input rounded-l-lg border-blue text-xs">
        <input type="text" class="text-blue placeholder:!font-light" data-i18n="deposit_page.Enter_a_Deposit_Amount" data-i18n-attr="placeholder" placeholder="" value="" />
      </label>
    </div>
    <div class="bg-blue text-white font-semibold rounded-r-lg px-2 py-1 flex items-center justify-center min-w-[100px]">USDT</div>
  </fieldset>

  <div class="deposit-amount-label-fieldset flex-col gap-1 px-4">
    <div>USDT - ERC20</div>
    <div>
      <span data-i18n="deposit_page.Exchange_Rate"></span>: <b>1USDT</b> <i class="fa-solid fa-arrow-right-arrow-left"></i> SGD1.3311 (<span data-i18n="deposit_page.References_Only"></span>)
    </div>
  </div>

  <div class="flex items-start gap-2 text-sm mt-4 mb-2 text-red-500" >
    <i class="fa-solid fa-triangle-exclamation text-base mt-1"></i>
    <div data-i18n="withdrawal_page.crypto_note"></div>
  </div>

  <div class="flex-col justify-center items-center gap-2 crypto-completed-transfer-fieldset">
    <button class="btn bg-gradient-to-r from-blue1 to-blue2 border-0 text-white rounded-lg w-full" data-i18n="deposit_page.Proceed" onclick="withdrawal_to_crypto_success_modal.showModal()"></button>
  </div>

  <div class="flex flex-col items-center justify-center gap-0 mt-2">
    <div data-i18n="B92u_Bank_page.Deposit_to_B9Casino_support"></div>
    <a href="#" class="font-semibold underline" data-i18n="B92u_Bank_page.Deposit_to_B9Casino_support1"></a>
  </div>


</div>

<!-- SUCCESS MODAL -->
<dialog id="withdrawal_to_crypto_success_modal" class="modal">
  <div class="modal-box w-4/5 !p-0">
    <div class="flex items-center justify-between bg-blue1 text-white h-12 px-4">
      <form class="opacity-0" method="dialog">
        <button class="">
          <i class="fa-solid fa-circle-xmark text-white text-lg"></i>
        </button>
      </form>
      <div class="font-semibold" data-i18n="B92u_Bank_page.Request_Submitted"></div>
      <form class="" method="dialog">
        <button class="">
          <i class="fa-light fa-circle-xmark text-white text-2xl"></i>
        </button>
      </form>
    </div>
    <div class="p-4">
      <div class="flex flex-col gap-4">
        <div data-i18n="deposit_page.success_crypto_popup_desciption"></div>
        <div class="flex items-center gap-2">
          <span data-i18n="B92u_Bank_page.Your_Transaction_ID_is"></span>
          <a href="#" class="font-semibold underline">123123123</a>
        </div>
        <div class="text-center">
          <span data-i18n="B92u_Bank_page.request_support"></span>
          <a href="#" class="font-semibold underline" data-i18n="B92u_Bank_page.request_support_1"></a>
        </div>
      </div>
     
      <div class="modal-action flex flex-col gap-4">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="B92u_Bank_page.Check_Status" onclick="withdrawal_to_crypto_success_modal.close()"></button>
      </div>

    </div>
  </div>
</dialog>
<!-- SUCCESS MODAL -->
