<div class="mt-4 px-4 gap-3 grid grid-cols-2">

  <!-- item 1 -->
  <div class="col-span-1 flex flex-col gap-1">
    <div class="relative flex">
      <div class="absolute top-2 inset-x-2 flex items-center justify-between gap-1">
        <div class="badge badge-error bg-red-500 text-white text-3xs h-4" data-i18n="arcade_page.Tournament"></div>
      </div>
      <img src="assets/images/arcade/1.png" alt="" class="">
    </div>
    <div class="flex flex-col gap-0 px-2">
      <div class="text-blue1 text-sm font-semibold" data-i18n="arcade_page.Aviator"></div>
      <div class="text-gray1 text-xs" data-i18n="arcade_page.Spribe_Gaming"></div>
    </div>
  </div>

  <!-- item 2 -->
  <div class="col-span-1 flex flex-col gap-1">
    <div class="relative flex">
      <div class="absolute top-2 inset-x-2 flex items-center justify-between gap-1">
        <!-- <div class="badge badge-error bg-red-500 text-white text-3xs h-4" data-i18n="arcade_page.Tournament"></div> -->
      </div>
      <img src="assets/images/arcade/2.png" alt="" class="">
    </div>
    <div class="flex flex-col gap-0 px-2">
      <div class="text-blue1 text-sm font-semibold" data-i18n="arcade_page.Plinko"></div>
      <div class="text-gray1 text-xs" data-i18n="arcade_page.Spribe_Gaming"></div>
    </div>
  </div>

  <!-- item 3 -->
  <div class="col-span-1 flex flex-col gap-1">
    <div class="relative flex">
      <div class="absolute top-2 inset-x-2 flex items-center justify-between gap-1">
        <!-- <div class="badge badge-error bg-red-500 text-white text-3xs h-4" data-i18n="arcade_page.Tournament"></div> -->
      </div>
      <img src="assets/images/arcade/3.png" alt="" class="">
    </div>
    <div class="flex flex-col gap-0 px-2">
      <div class="text-blue1 text-sm font-semibold" data-i18n="arcade_page.Mini_Roulette"></div>
      <div class="text-gray1 text-xs" data-i18n="arcade_page.Spribe_Gaming"></div>
    </div>
  </div>

  <!-- item 4 -->
  <div class="col-span-1 flex flex-col gap-1">
    <div class="relative flex">
      <div class="absolute top-2 inset-x-2 flex items-center justify-between gap-1">
        <div class="badge badge-error bg-red-500 text-white text-3xs h-4" data-i18n="arcade_page.Tournament"></div>
      </div>
      <img src="assets/images/arcade/4.png" alt="" class="">
    </div>
    <div class="flex flex-col gap-0 px-2">
      <div class="text-blue1 text-sm font-semibold" data-i18n="arcade_page.Hilo"></div>
      <div class="text-gray1 text-xs" data-i18n="arcade_page.Spribe_Gaming"></div>
    </div>
  </div>

</div>