:root {
  --primary-color: #4E7FFF;
  --max-with-mobile: 768px;
  --default-font-size: 13px;
  --default-small-font-size: 13px;
  --default-padding-content: 20px;
  --default-mobile-padding-content: 15px;
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
  --bs-gutter-x-mobile: 15px;
  --bs-gutter-y-mobile: 15px;
  --bs-danger-rgb: 255, 0, 0;
  --bs-body-color: #fff;
}

// html,
body {
  font-size: var(--default-font-size);
  line-height: 18px;
  font-weight: 400;
  max-width: var(--max-with-mobile);
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // min-height: 100vh;
  position: relative;
  background: #fff;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // color: var(--bs-body-color);
  color: var(--color-blue1);
}

* {
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  padding-top: 74px;
}

.container,
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
}

#loadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: var(--color-dark);
  color: var(--color-white);
}

.language-item {
  opacity: 0.5;

  &.active {
    opacity: 1;

    &>div {
      border-color: var(--color-blue);
    }

    .selected,
    .title {
      font-weight: 600;
      color: var(--color-blue);
    }
  }
}

.btn {
  font-weight: 400;

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23053b7a%22%20d%3D%22M128%200c17.7%200%2032%2014.3%2032%2032l0%2032%20128%200%200-32c0-17.7%2014.3-32%2032-32s32%2014.3%2032%2032l0%2032%2048%200c26.5%200%2048%2021.5%2048%2048l0%2048L0%20160l0-48C0%2085.5%2021.5%2064%2048%2064l48%200%200-32c0-17.7%2014.3-32%2032-32zM0%20192l448%200%200%20272c0%2026.5-21.5%2048-48%2048L48%20512c-26.5%200-48-21.5-48-48L0%20192zm64%2080l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200c-8.8%200-16%207.2-16%2016zm128%200l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200c-8.8%200-16%207.2-16%2016zm144-16c-8.8%200-16%207.2-16%2016l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200zM64%20400l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200c-8.8%200-16%207.2-16%2016zm144-16c-8.8%200-16%207.2-16%2016l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200zm112%2016l0%2032c0%208.8%207.2%2016%2016%2016l32%200c8.8%200%2016-7.2%2016-16l0-32c0-8.8-7.2-16-16-16l-32%200c-8.8%200-16%207.2-16%2016z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
  width: 14px;
  height: 14px;
  border-width: thin;
}

.modal {
  transition: none !important;

  &.modal-open,
  &[open],
  &:target {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.custom-tabs {
  gap: 10px;

  .tab-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    &>.tab {
      flex: none;
      padding: 3px 10px;
      height: auto;
      border-right: 1px solid var(--color-blue1);
      filter: grayscale(0);
      color: var(--color-blue1);
      min-width: 50px;
      text-decoration: underline;
      font-weight: 600;
      font-size: 16px;

      &:before {
        display: none;
      }

      &:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected=true]) {
        opacity: 0.5;
        color: var(--color-blue);
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
      }

      &:last-child {
        border-right: none;
      }

    }
  }

  &>.tab-content-list {
    .tab-content-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.fieldset {
  font-size: unset !important;

  .input {
    width: 100%;
  }
}

.select2 {
  width: 100% !important;

  .selection {
    .select2-selection {
      border-color: var(--color-blue) !important;
      height: 40px !important;
      border-radius: 10px !important;
      padding: 0 5px !important;

      &__rendered {
        line-height: 40px !important;
        color: var(--color-blue1) !important;
        font-weight: 600 !important;
      }

      &__arrow {
        top: 50% !important;
        transform: translateY(-50%) !important;
        right: 5px !important;

        b {
          border-color: var(--color-blue1) transparent transparent transparent !important;
        }
      }

      &__placeholder {
        opacity: 0.5 !important;
        color: var(--color-blue) !important;
        font-weight: 300 !important;
      }
    }
  }
}

.select2-container {

  &--open {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100% !important;
    display: block !important;

  }

  .select2-custom-dropdown {
    width: 100% !important;
    // position: unset !important;
  }

  .select2-dropdown {
    margin-top: 3px;
    border-radius: 10px !important;
    border: 1px solid var(--color-blue) !important;
    overflow: hidden !important;

    .select2-results {
      &__option {
        padding: 10px !important;

        &--highlighted,
        &--selected {
          background-color: #8989891A !important;
          color: var(--color-blue1) !important;
        }
      }
    }
  }
}