<a href="/profile.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'profile') {text-blue1}">
  <i class="fa-solid fa-user !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'profile') {underline}" data-i18n="Profile"></div>
</a>
<a href="/banking.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'banking') {text-blue1}">
  <i class="fa-solid fa-building-columns !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'banking') {underline}" data-i18n="Banking"></div>
</a>
<a href="/password.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'password') {text-blue1}">
  <i class="fa-solid fa-lock !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'password') {underline}" data-i18n="Password"></div>
</a>
<a href="/inbox.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'inbox') {text-blue1}">
  <i class="fa-solid fa-envelope !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'inbox') {underline}" data-i18n="Inbox"></div>
</a>