<div id="top-nav-child" class="home-categories @@if (!context.default_show) {hidden}">
  <div class="collapse bg-gray4 py-4 px-2 rounded-2xl !text-xs mb-4">
    <input id="home-categories-checkbox" type="checkbox" name="home-categories" class="hidden" />
    <div class="collapse-title w-full p-0">
      <div class="grid grid-cols-5 gap-x-2 gap-y-6 mt-2 w-full text-blue">
        @@if (!!context.top_items && context.top_items === 'rewards') {
          @@include('./rewards.html', {active: '@@active'})
        }
        @@if (!!context.top_items && context.top_items === 'transactions') {
          @@include('./transactions.html', {active: '@@active'})
        }
        @@if (!!context.top_items && context.top_items === 'accounts') {
          @@include('./accounts.html', {active: '@@active'})
        }

        <label for="home-categories-checkbox" class="col-span-1 flex flex-col items-center justify-start gap-1 hide-when-more-item">
          <div class="py-[3px]">
            <img src="assets/icons/menu-more.png" width="30" height="30" alt="" />
          </div>
          <div class="w-full text-center" data-i18n="Less"></div>
        </label>
        <label for="home-categories-checkbox" class="col-span-1 flex flex-col items-center justify-start gap-1 more-item">
          <div class="py-[3px]">
            <img src="assets/icons/menu-more.png" width="30" height="30" alt="" />
          </div>
          <div class="w-full text-center" data-i18n="More"></div>
        </label>
      </div>
    </div>
    <div class="collapse-content w-full !p-0">

      <div class="border-t border-blue mt-4">
        @@if (!!context.top_items && context.top_items === 'rewards') {
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Transactions"></div>
            @@include('./transactions.html', {active: '@@active'})
          </div>
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Account_Info"></div>
            @@include('./accounts.html', {active: '@@active'})
          </div>
        }
        @@if (!!context.top_items && context.top_items === 'transactions') {
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Account_Info"></div>
            @@include('./accounts.html', {active: '@@active'})
          </div>
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Rewards"></div>
            @@include('./rewards.html', {active: '@@active'})
          </div>
        }
        @@if (!!context.top_items && context.top_items === 'accounts') {
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Transactions"></div>
            @@include('./transactions.html', {active: '@@active'})
          </div>
          <div class="grid grid-cols-5 gap-x-2 gap-y-3 w-full text-blue mt-4">
            <div class="col-span-5 text-blue1 font-semibold text-sm" data-i18n="Rewards"></div>
            @@include('./rewards.html', {active: '@@active'}  )
          </div>
        }
      </div>

    </div>
  </div>
</div>