<a href="/cash-rebate.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'cash-rebate') {text-blue1}">
  <i class="fa-solid fa-futbol !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'cash-rebate') {font-semibold underline}" data-i18n="Cash_Rebate"></div>
</a>
<a href="/promotions.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'promotions') {text-blue1}">
  <i class="fa-solid fa-futbol !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'promotions') {font-semibold underline}" data-i18n="Promotions"></div>
</a>
<a href="/refer.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'refer') {text-blue1}">
  <i class="fa-solid fa-users !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'refer') {font-semibold underline}" data-i18n="Refer_Earn"></div>
</a>
<a href="/voucher.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'voucher') {text-blue1}">
  <i class="fa-solid fa-ticket-simple !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'voucher') {font-semibold underline}" data-i18n="Voucher"></div>
</a>