<a href="/deposit.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'deposit') {text-blue1}">
  <i class="fa-solid fa-circle-plus !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'deposit') {font-semibold underline}" data-i18n="Deposit"></div>
</a>
<a href="/withdrawal.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'withdrawal') {text-blue1}">
  <i class="fa-solid fa-circle-minus !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'withdrawal') {font-semibold underline}" data-i18n="Withdrawal"></div>
</a>
<a href="/transfer.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'transfer') {text-blue1}">
  <i class="fa-solid fa-arrow-right-arrow-left !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'transfer') {font-semibold underline}" data-i18n="Transfer"></div>
</a>
<a href="/history.html" class="col-span-1 px-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 'history') {text-blue1}">
  <i class="fa-solid fa-futbol !text-3xl"></i>
  <div class="w-full text-center @@if (context.active === 'history') {font-semibold underline}" data-i18n="History"></div>
</a>