<div class="flex flex-col gap-6 mt-4 mb-10">

  <!-- CATEGORIES -->
  <div class="px-4" data-aos="fade-in">
    @@include('../base/categories-nav/index.html', {active: 3, isAll: true})
  </div>

  <!-- TOP PICKED -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="casino_page.Hot_Games"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('../home/top-picked.html')

  </div>

  <!-- Game lobby -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="4d.GAME_LOBBY"></div>
    </div>

    @@include('./game-lobby.html')
  </div>

  <!-- MOST CLAIMED PROMOTIONS -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="eSports_page.Most_Claimed_Promotions"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('../eSports/most-claimed-promotions.html')

  </div>


</div>