<div class="mt-4 px-4 grid grid-cols-3 gap-4">

  <!-- item 1 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Pragmatic_Play"></div>
  </div>

  <!-- item 2 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Spadegaming"></div>
  </div>
  
  <!-- item 3 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Onegame"></div>
  </div>
  
  <!-- item 4 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Qtech"></div>
  </div>
  
  <!-- item 5 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.CQ9"></div>
  </div>
  
  <!-- item 6 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Relax_Gaming"></div>
  </div>
  
  <!-- item 7 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Mega888"></div>
  </div>

  <!-- item 8 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Booming_Games"></div>
  </div>

  <!-- item 9 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Fa_Chai"></div>
  </div>

  <!-- item 10 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="slot_page.Pegasus"></div>
  </div>
  
  
</div>