<div id="top-nav-child" class="home-categories @@if (context.default_hide) {hidden}">
  <div class="collapse bg-gray4 p-4 rounded-2xl text-xs">
    <input id="home-categories-checkbox" type="checkbox" name="home-categories" class="hidden" />
    <div class="collapse-title w-full p-0">
      <div class="grid grid-cols-5 gap-x-2 gap-y-6 mt-2 w-full text-blue">
        <a href="/fishing.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 0) {text-blue1 active}">
          <i class="fa-solid fa-fish !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Fishing"></div>
        </a>
        <a href="/4d.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 1) {text-blue1 active}">
          <i class="fa-solid fa-bowling-ball !text-3xl"></i>
          <div class="w-full text-center" data-i18n="4D"></div>
        </a>
        <a href="/vip.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 2) {text-blue1 active}">
          <i class="fa-solid fa-crown !text-3xl"></i>
          <div class="w-full text-center" data-i18n="VIP_Club"></div>
        </a>
        <a href="/refer.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 3) {text-blue1 active}">
          <i class="fa-solid fa-users !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Refer_Earn"></div>
        </a>

        <a href="/sports.html" class="col-span-1 flex flex-col items-center justify-start gap-1 hide-when-more-item @@if (context.active === 4) {text-blue1 active}">
          <i class="fa-solid fa-futbol !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Sports"></div>
        </a>
        <label for="home-categories-checkbox" class="col-span-1 flex flex-col items-center justify-start gap-1 more-item">
          <div class="py-[3px]">
            <img src="assets/icons/menu-more.png" width="30" height="30" alt="" />
          </div>
          <div class="w-full text-center" data-i18n="More"></div>
        </label>
      </div>
    </div>
    <div class="collapse-content w-full !p-0">
      <div class="grid grid-cols-5 gap-x-2 gap-y-6 w-full text-blue mt-4">
        <a href="/esports.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 5) {text-blue1 active}">
          <i class="fa-solid fa-gamepad !text-3xl"></i>
          <div class="w-full text-center" data-i18n="eSports"></div>
        </a>
        <a href="/casino.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 6) {text-blue1 active}">
          <i class="fa-solid fa-heart !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Casino"></div>
        </a>
        <a href="/slot.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 7) {text-blue1 active}">
          <i class="fa-solid fa-dice !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Slot"></div>
        </a>
        <a href="/arcade.html" class="col-span-1 flex flex-col items-center justify-start gap-1 @@if (context.active === 8) {text-blue1 active}">
          <i class="fa-solid fa-plane !text-3xl"></i>
          <div class="w-full text-center" data-i18n="Arcade"></div>
        </a>
        <label for="home-categories-checkbox" class="col-span-1 flex flex-col items-center justify-start gap-1">
          <div class="py-[3px]">
            <img src="assets/icons/menu-more.png" width="30" height="30" alt="" />
          </div>
          <div class="w-full text-center" data-i18n="Less"></div>
        </label>
      </div>
    </div>
  </div>
</div>