<!-- TOP NAV -->
<div class="px-4 pb-0" data-aos="fade-in">
  @@include('../base/top-nav-child/index.html', {
    active: 'password',
    top_items: 'accounts',
    default_show: false,
  })
</div>

<!-- CONTENT -->
<div class="flex flex-col gap-4 p-4 mb-10">

  <!-- VERIFICATION -->
  <div>
    @@include('../profile/verification.html')
  </div>

  <form>

    <!-- PERSONAL INFORMATION -->
    <div class="" data-aos="fade-up">
      <fieldset class="fieldset relative my-4">
        <legend class="text-base font-semibold" data-i18n="password_page.Current_Password"></legend>
        <label class="input w-full border-blue rounded-lg">
          <input type="text" class="w-full" data-i18n="password_page.Please_enter_current_password" data-i18n-attr="placeholder" placeholder="" />
          <div class="text-base">
            <i class="fa-solid fa-eye"></i>
          </div>
        </label>
      </fieldset>
      <fieldset class="fieldset relative my-4">
        <legend class="text-base font-semibold" data-i18n="password_page.New_Password"></legend>
        <label class="input w-full border-blue rounded-lg">
          <input type="text" class="w-full" data-i18n="password_page.Please_enter_new_password" data-i18n-attr="placeholder" placeholder="" />
          <div class="text-base">
            <i class="fa-solid fa-eye"></i>
          </div>
        </label>
        <div class="validate mt-2">
          <div class="password-strong flex items-start gap-2">
            <div class="w-6 h-1.5 bg-gray2 rounded-sm"></div>
            <div class="w-6 h-1.5 bg-gray2 rounded-sm"></div>
            <div class="w-6 h-1.5 bg-gray2 rounded-sm"></div>
            <div class="w-6 h-1.5 bg-gray2 rounded-sm"></div>
            <div class="w-6 h-1.5 bg-gray2 rounded-sm"></div>
          </div>
          <div class="password-weak flex flex-col items-start gap-2 mt-2">
            <div class="flex items-center gap-2 opacity-50 text-blue">
              <i class="fa-solid fa-circle-check text-gray1"></i>
              <div class="text-xs" data-i18n="password_page.Use_6_12_characters"></div>
            </div>
            <div class="flex items-center gap-2 opacity-50 text-blue">
              <i class="fa-solid fa-circle-check text-gray1"></i>
              <div class="text-xs" data-i18n="password_page.Besides_letters"></div>
            </div>
            <div class="flex items-center gap-2 opacity-50 text-blue">
              <i class="fa-solid fa-circle-check text-gray1"></i>
              <div class="text-xs" data-i18n="password_page.Password_is_case_sensitive"></div>
            </div>
            <div class="flex items-center gap-2 text-red-500">
              <i class="fa-solid fa-circle-exclamation"></i>
              <div class="text-xs" data-i18n="password_page.Avoid_using_the_same_password_of_multiple_sites"></div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="fieldset relative my-4">
        <legend class="text-base font-semibold" data-i18n="password_page.Confirm_New_Password"></legend>
        <label class="input w-full border-blue rounded-lg">
          <input type="text" class="w-full" data-i18n="password_page.Please_enter_confirm_new_password" data-i18n-attr="placeholder" placeholder="" />
          <div class="text-base">
            <i class="fa-solid fa-eye"></i>
          </div>
        </label>
      </fieldset>
    </div>

    <!-- <div class="flex flex-col items-center text-xs" data-aos="fade-up">
      <div class="" data-i18n="profile_page.contact_info"></div>
      <div class="font-semibold underline" data-i18n="profile_page.support_info"></div>
    </div> -->

    <div class="mt-10" data-aos="fade-up">
      <button class="btn w-full shadow-none border-none bg-gradient-to-b from-blue to-blue1 text-white rounded-lg" data-i18n="profile_page.Save_Changes"></button>
    </div>

  </form>

</div>
