<div class="mt-4 px-4 grid grid-cols-3 gap-4">

  <!-- item 1 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.Evolution_Gaming"></div>
  </div>

  <!-- item 2 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.Sexy_Gaming"></div>
  </div>
  
  <!-- item 3 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.Ezugi"></div>
  </div>
  
  <!-- item 4 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.Winfinity"></div>
  </div>
  
  <!-- item 5 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.WM_Casino"></div>
  </div>
  
  <!-- item 6 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.SA_Gaming"></div>
  </div>
  
  <!-- item 7 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.Pragmatic_Play"></div>
  </div>

  <!-- item 8 -->
  <div class="col-span-1 flex flex-col items-center gap-1">
    <div class="h-[100px]">
      <img class="rounded-xl cover w-full h-full" src="https://placehold.co/120x100/BEBEBE/BEBEBE"/>
    </div>
    <div class="text-center" data-i18n="casino_page.On_Casino"></div>
  </div>
  
  
</div>