<div class="px-2">

  <label class="input border-blue rounded-xl w-full">
    <i class="fa-solid fa-magnifying-glass text-blue1"></i>
    <input type="search" class="grow " data-i18n-attr="placeholder" data-i18n="casino_page.search_games" placeholder="" />
  </label>

  <div class="mt-4 grid grid-cols-3 gap-4">

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/1.png"/>
      </div>
      <div class="text-left" data-i18n="">Gates of Olympus Xmas 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/2.png"/>
      </div>
      <div class="text-left" data-i18n="">Sweet Bonanza 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/3.png"/>
      </div>
      <div class="text-left" data-i18n="">Gates of Olympus 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/4.png"/>
      </div>
      <div class="text-left" data-i18n="">Gates of Olympus</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/5.png"/>
      </div>
      <div class="text-left" data-i18n="">Sweet Bonanza</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/6.png"/>
      </div>
      <div class="text-left" data-i18n="">Sugar Rush</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/7.png"/>
      </div>
      <div class="text-left" data-i18n="">Sweet Bonanza Xmas</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/8.png"/>
      </div>
      <div class="text-left" data-i18n="">Starlight Princess 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/9.png"/>
      </div>
      <div class="text-left" data-i18n="">Pyramid Bonanza</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/10.png"/>
      </div>
      <div class="text-left" data-i18n="">Wisdom of Athena 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/11.png"/>
      </div>
      <div class="text-left" data-i18n="">Sugar Rush 1000</div>
    </div>

    <!-- item 1 -->
    <div class="col-span-1 flex flex-col items-center gap-1">
      <div class="h-[120px] w-full">
        <img class="rounded-xl object-cover w-full h-full" src="assets/images/casino/pragmatic-play/12.png"/>
      </div>
      <div clLoad Moreass="text-left" data-i18n="">Gates of Gatot Kaca 1000</div>
    </div>

  </div>

  <button class="btn bg-gradient-to-r from-blue1 to-blue border-none rounded-lg w-full mt-6 text-white p-5" data-i18n="casino_page.Load_More"></button>


</div>