<div class="flex flex-col gap-6 mt-4 mb-10">
  
  <!-- VIP LEVEL -->
  <div class="px-4" data-aos="fade-up">

    <div class="swiper vipLevelSwiper">
      <div class="swiper-wrapper">

        <!-- NORMAL -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/normal.png',
              'title': 'vip.NORMAL',
              'Accumulated_Deposit': '-',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '-',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '-',
              'Live_Casino': '0.5%',
              'Sportsbook_Esports': '0.7%',
              'Slots_Fishing': '0.5%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/bronze.png',
              'title': 'vip.BRONZE',
              'Accumulated_Deposit': '30,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '100',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '39',
              'Live_Casino': '0.55%',
              'Sportsbook_Esports': '0.75%',
              'Slots_Fishing': '0.55%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>


        <!-- BRONZE -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/bronze.png',
              'title': 'vip.BRONZE',
              'Accumulated_Deposit': '30,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '100',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '39',
              'Live_Casino': '0.55%',
              'Sportsbook_Esports': '0.75%',
              'Slots_Fishing': '0.55%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/silver.png',
              'title': 'vip.SILVER',
              'Accumulated_Deposit': '150,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '150',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '99',
              'Live_Casino': '0.6%',
              'Sportsbook_Esports': '0.8%',
              'Slots_Fishing': '0.8%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

        <!-- SILVER -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/silver.png',
              'title': 'vip.SILVER',
              'Accumulated_Deposit': '150,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '150',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '99',
              'Live_Casino': '0.6%',
              'Sportsbook_Esports': '0.8%',
              'Slots_Fishing': '0.8%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/rose-gold.png',
              'title': 'vip.ROSE_GOLD',
              'Accumulated_Deposit': '550,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '299',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '199',
              'Live_Casino': '0.65%',
              'Sportsbook_Esports': '0.85%',
              'Slots_Fishing': '0.85%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

        <!-- ROSE GOLD -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/rose-gold.png',
              'title': 'vip.ROSE_GOLD',
              'Accumulated_Deposit': '550,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '299',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '199',
              'Live_Casino': '0.65%',
              'Sportsbook_Esports': '0.85%',
              'Slots_Fishing': '0.85%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/gold.png',
              'title': 'vip.GOLD',
              'Accumulated_Deposit': '1,000,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '500',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '399',
              'Live_Casino': '0.7%',
              'Sportsbook_Esports': '0.9%',
              'Slots_Fishing': '1%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

        <!-- GOLD -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/gold.png',
              'title': 'vip.GOLD',
              'Accumulated_Deposit': '1,000,000',
              'Life_Span': 'Lifetime',
              'Membership_Maintenance': '-',
              'Upgrade_Bonus': '500',
              'Maintenance_Bonus': '-',
              'Birthday_Bonus': '399',
              'Live_Casino': '0.7%',
              'Sportsbook_Esports': '0.9%',
              'Slots_Fishing': '1%',
              '4D': '25%',
              'Withdrawal_Limit': '50,000',
              'Transaction_Limit_SGD': '1',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/platinum.png',
              'title': 'vip.PLATINUM',
              'Accumulated_Deposit': '2,000,000',
              'Life_Span': 'Monthly',
              'Membership_Maintenance': '50,000',
              'Upgrade_Bonus': '1,000',
              'Maintenance_Bonus': '599',
              'Birthday_Bonus': '999',
              'Live_Casino': '0.8%',
              'Sportsbook_Esports': '0.95%',
              'Slots_Fishing': '1.2%',
              '4D': '25%',
              'Withdrawal_Limit': '100,000',
              'Transaction_Limit_SGD': '5',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

        <!-- PLATINUM -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/platinum.png',
              'title': 'vip.PLATINUM',
              'Accumulated_Deposit': '2,000,000',
              'Life_Span': 'Monthly',
              'Membership_Maintenance': '50,000',
              'Upgrade_Bonus': '1,000',
              'Maintenance_Bonus': '599',
              'Birthday_Bonus': '999',
              'Live_Casino': '0.8%',
              'Sportsbook_Esports': '0.95%',
              'Slots_Fishing': '1.2%',
              '4D': '25%',
              'Withdrawal_Limit': '100,000',
              'Transaction_Limit_SGD': '5',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/diamond.png',
              'title': 'vip.DIAMOND',
              'Accumulated_Deposit': '6,000,000',
              'Life_Span': 'Monthly',
              'Membership_Maintenance': '500,000',
              'Upgrade_Bonus': '2,000',
              'Maintenance_Bonus': '999',
              'Birthday_Bonus': '1,999',
              'Live_Casino': '1%',
              'Sportsbook_Esports': '1%',
              'Slots_Fishing': '1.25%',
              '4D': '30%',
              'Withdrawal_Limit': 'Unlimited',
              'Transaction_Limit_SGD': '5',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

        <!-- DIAMOND -->
        <div class="swiper-slide">
          @@include('./vip-level-content.html', {
            'current': {
              'image': 'assets/images/vip/levels/diamond.png',
              'title': 'vip.DIAMOND',
              'Accumulated_Deposit': '6,000,000',
              'Life_Span': 'Monthly',
              'Membership_Maintenance': '500,000',
              'Upgrade_Bonus': '2,000',
              'Maintenance_Bonus': '999',
              'Birthday_Bonus': '1,999',
              'Live_Casino': '1%',
              'Sportsbook_Esports': '1%',
              'Slots_Fishing': '1.25%',
              '4D': '30%',
              'Withdrawal_Limit': 'Unlimited',
              'Transaction_Limit_SGD': '5',
              'Transaction_Limit_CRYPTO': '5'
            },
            'next': {
              'image': 'assets/images/vip/levels/diamond.png',
              'title': 'vip.DIAMOND',
              'Accumulated_Deposit': '6,000,000',
              'Life_Span': 'Monthly',
              'Membership_Maintenance': '500,000',
              'Upgrade_Bonus': '2,000',
              'Maintenance_Bonus': '999',
              'Birthday_Bonus': '1,999',
              'Live_Casino': '1%',
              'Sportsbook_Esports': '1%',
              'Slots_Fishing': '1.25%',
              '4D': '30%',
              'Withdrawal_Limit': 'Unlimited',
              'Transaction_Limit_SGD': '5',
              'Transaction_Limit_CRYPTO': '5'
            }
          })
        </div>

      </div>
    </div>

  </div>
  
  <!-- INFO -->
  <div class="px-4 mt-10" data-aos="fade-up">
    @@include('./info.html')
  </div>
  
  <!-- Q&A -->
  <div class="px-4 mt-4" data-aos="fade-up">
    <div class="flex justify-between items-center">
      <div class="text-blue1 font-semibold text-base" data-i18n="vip.Frequently_Asked_Questions"></div>
    </div>

    @@include('./qa.html')
  </div>

</div>