<div class="flex flex-col gap-2 text-white pt-10 vip-content">
  <div class="bg-dark rounded-lg p-4 relative flex items-center justify-between gap-4 vip-level-card">
    <div class="flex-1">
      <div class="text-xl font-semibold uppercase" data-i18n="vip.NORMAL"></div>
      <div class="text-gray-400" data-i18n="vip.MEMBER"></div>
      <div class="flex flex-col gap-0 items-center justify-between w-full mt-4">
        <div class="flex items-center justify-between gap-2 w-full text-gray1 text-2xs">
          <div data-i18n="vip.Your_VIP_Progress"></div>
          <div>18.2%</div>
        </div>
        <div class="w-full">
          <ul class="steps">
            <li class="step step-color">
              <span class="step-icon">
                <img src="assets/images/vip/levels/normal.png" width="20" height="20" />
              </span>
            </li>
            <li class="step step-color">
              <span class="step-icon"></span>
            </li>
            <li class="step step-color">
              <span class="step-icon"></span>
            </li>
            <li class="step step-color step-current">
              <span class="step-icon">
                <img src="assets/images/vip/vip-process-current.png" width="20" height="20" />
              </span>
            </li>
            <li class="step">
              <span class="step-icon"></span>
            </li>
            <li class="step">
              <span class="step-icon"></span>
            </li>
            <li class="step">
              <span class="step-icon"></span>
            </li>
            <li class="step">
              <span class="step-icon">
                <img src="assets/images/vip/levels/bronze.png" width="20" height="20" />
              </span>
            </li>
          </ul>
        </div>
        <div class="flex items-center justify-center gap-2 text-2xs">
          <span>SGD18,200</span>
          <span>|</span>
          <span class="text-gray-400">SGD100,000</span>
        </div>
      </div>
    </div>
    <div class="-mt-[100px]">
      <img src="assets/images/vip/levels/normal.png" alt="vip-level-1" class="w-[100px] h-[120px]">
    </div>
  </div>
</div>
