<div class="grid grid-cols-2 gap-x-4 gap-y-14">
  <!-- ITEM 1 -->
  <div class="col-span-1 bg-white rounded-lg">
    <div class="bg-[url(assets/images/vip/info-bg.png)] bg-no-repeat bg-center bg-cover rounded-lg p-4 text-center h-full">
      <div class="max-w-[80px] max-h-[80px] mx-auto mb-1 -mt-12">
        <img src="assets/images/vip/level-up.png" alt="" class=" mx-auto mb-2" />
      </div>
      <div class="text-white text-sm font-semibold mb-2" data-i18n="vip.INFO_TITLE_1"></div>
      <div class="text-blue text-xs" data-i18n="vip.INFO_DESCRIPTION_1"></div>
    </div>
  </div>

  <!-- ITEM 1 -->
  <div class="col-span-1 bg-white rounded-lg">
    <div class="bg-[url(assets/images/vip/info-bg.png)] bg-no-repeat bg-center bg-cover rounded-lg p-4 text-center h-full">
      <div class="max-w-[80px] max-h-[80px] mx-auto mb-1 -mt-12">
        <img src="assets/images/vip/cashback.png" alt="" class=" mx-auto mb-2" />
      </div>
      <div class="text-white text-sm font-semibold mb-2" data-i18n="vip.INFO_TITLE_2"></div>
      <div class="text-blue text-xs" data-i18n="vip.INFO_DESCRIPTION_2"></div>
    </div>
  </div>

  <!-- ITEM 1 -->
  <div class="col-span-1 bg-white rounded-lg">
    <div class="bg-[url(assets/images/vip/info-bg.png)] bg-no-repeat bg-center bg-cover rounded-lg p-4 text-center h-full">
      <div class="max-w-[80px] max-h-[80px] mx-auto mb-1 -mt-12">
        <img src="assets/images/vip/birthday.png" alt="" class=" mx-auto mb-2" />
      </div>
      <div class="text-white text-sm font-semibold mb-2" data-i18n="vip.INFO_TITLE_3"></div>
      <div class="text-blue text-xs" data-i18n="vip.INFO_DESCRIPTION_3"></div>
    </div>
  </div>

  <!-- ITEM 1 -->
  <div class="col-span-1 bg-white rounded-lg">
    <div class="bg-[url(assets/images/vip/info-bg.png)] bg-no-repeat bg-center bg-cover rounded-lg p-4 text-center h-full">
      <div class="max-w-[80px] max-h-[80px] mx-auto mb-1 -mt-12">
        <img src="assets/images/vip/gifts.png" alt="" class=" mx-auto mb-2" />
      </div>
      <div class="text-white text-sm font-semibold mb-2" data-i18n="vip.INFO_TITLE_4"></div>
      <div class="text-blue text-xs" data-i18n="vip.INFO_DESCRIPTION_4"></div>
    </div>
  </div>
</div>