<div class="mt-4 flex flex-col gap-3">
  <div class="collapse collapse-arrow">
    <input class="" type="radio" name="vip-qa" />
    <div class="collapse-title flex items-center !rounded-lg font-semibold bg-gray2" data-i18n="vip.QA_TITLE_1"></div>
    <div class="collapse-content !p-0 text-xs">
      <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="vip.QA_CONTENT_1"></div>
    </div>
  </div>
  <div class="collapse collapse-arrow">
    <input class="" type="radio" name="vip-qa" />
    <div class="collapse-title flex items-center !rounded-lg font-semibold bg-gray2" data-i18n="vip.QA_TITLE_2"></div>
    <div class="collapse-content !p-0 text-xs">
      <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="vip.QA_CONTENT_2"></div>
    </div>
  </div>
  <div class="collapse collapse-arrow">
    <input class="" type="radio" name="vip-qa" />
    <div class="collapse-title flex items-center !rounded-lg font-semibold bg-gray2" data-i18n="vip.QA_TITLE_3"></div>
    <div class="collapse-content !p-0 text-xs">
      <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="vip.QA_CONTENT_3"></div>
    </div>
  </div>
  <div class="collapse collapse-arrow">
    <input class="" type="radio" name="vip-qa" />
    <div class="collapse-title flex items-center !rounded-lg font-semibold bg-gray2" data-i18n="vip.QA_TITLE_4"></div>
    <div class="collapse-content !p-0 text-xs">
      <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="vip.QA_CONTENT_4"></div>
    </div>
  </div>
  <div class="collapse collapse-arrow">
    <input class="" type="radio" name="vip-qa" />
    <div class="collapse-title flex items-center !rounded-lg font-semibold bg-gray2" data-i18n="vip.QA_TITLE_5"></div>
    <div class="collapse-content !p-0 text-xs">
      <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="vip.QA_CONTENT_5"></div>
    </div>
  </div>
</div>