<div class="mt-4 px-4 flex flex-col gap-4">
  <!-- item 1 -->
  <div class="relative">
    <img src="assets/images/esports/1.png" alt="" class="">
    <div class="flex flex-col gap-[2px] absolute inset-y-0 left-0 w-1/2 p-4 items-start justify-between">
      <div class="flex flex-col gap-0 text-white">
        <div class="font-semibold text-lg leading-5" data-i18n="esports_page.CMD368"></div>
        <div data-i18n="esports_page.CMD368_DESC"></div>
      </div>
      <button class="btn bg-blue1 border-none rounded-full px-4 py-2 h-8 text-white text-sm shadow-none" data-i18n="esports_page.BET_NOW"></button>
    </div>

    <div class="absolute bottom-4 right-0 px-4 py-0.5 rounded-l-full flex justify-center items-center gap-1 text-white bg-red-500 text-3xs">
      <span data-i18n="esports_page.Exclusive_Extra"></span>
      <span>1%</span>
      <span data-i18n="esports_page.Rebate"></span>
    </div>
  </div>
  
  <!-- item 2 -->
  <div class="relative">
    <img src="assets/images/esports/2.png" alt="" class="">
    <div class="flex flex-col gap-[2px] absolute inset-y-0 left-0 w-1/2 p-4 items-start justify-between">
      <div class="flex flex-col gap-0 text-white">
        <div class="font-semibold text-lg leading-5" data-i18n="esports_page.TF_Gaming"></div>
        <div data-i18n="esports_page.TF_Gaming_DESC"></div>
      </div>
      <button class="btn bg-blue1 border-none rounded-full px-4 py-2 h-8 text-white text-sm shadow-none" data-i18n="esports_page.BET_NOW"></button>
    </div>
  </div>
  
  <!-- item 3 -->
  <div class="relative">
    <img src="assets/images/esports/3.png" alt="" class="">
    <div class="flex flex-col gap-[2px] absolute inset-y-0 left-0 w-1/2 p-4 items-start justify-between">
      <div class="flex flex-col gap-0 text-white">
        <div class="font-semibold text-lg leading-5" data-i18n="esports_page.AI_Gaming"></div>
        <div data-i18n="esports_page.AI_Gaming_DESC"></div>
      </div>
      <button class="btn bg-blue1 border-none rounded-full px-4 py-2 h-8 text-white text-sm shadow-none" data-i18n="esports_page.BET_NOW"></button>
    </div>
  </div>
  
</div>