
<!-- SUCCESS MODAL -->
<dialog id="deposit_to_quick_pay_success_modal" class="modal">
  <div class="modal-box w-4/5 !p-0">
    <div class="flex items-center justify-between bg-blue1 text-white h-12 px-4">
      <form class="opacity-0" method="dialog">
        <button class="">
          <i class="fa-solid fa-circle-xmark text-white text-lg"></i>
        </button>
      </form>
      <div class="font-semibold" data-i18n="deposit_page.Deposit_Successful"></div>
      <form class="" method="dialog">
        <button class="">
          <i class="fa-solid fa-circle-xmark text-white text-xl"></i>
        </button>
      </form>
    </div>
    <div class="p-4">
      <div class="flex flex-col gap-4 text-center">
        <div data-i18n="deposit_page.Deposit_Successful_description"></div>
      </div>
     
      <div class="modal-action flex flex-col gap-4">
        <a href="/" class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="deposit_page.Begin_Gaming"></a>
      </div>

    </div>
  </div>
</dialog>
<!-- SUCCESS MODAL -->