<div>
  <div class="flex items-center gap-1 text-lg font-semibold">
    <div data-i18n="deposit_page.Main_Wallet"></div>
    <div class="font-normal text-sm" data-i18n="deposit_page.sgd"></div>
  </div>

  <div class="flex items-center justify-between border-b border-blue py-1">
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-coins text-yellow-500 text-xl"></i>
      <span class="text-2xl font-bold">520.50</span>
    </div>
    <div class="flex items-center gap-2">
      <button class="btn btn-sm rounded-full h-7 border-0 bg-blue text-white" data-i18n="deposit_page.Restore_all"></button>
      <i class="fa-solid fa-rotate text-lg"></i>
    </div>
  </div>
</div>