<div>
  <div class="flex items-center gap-1 text-lg font-semibold">
    <div data-i18n="deposit_page.Main_Wallet"></div>
    <div class="font-normal text-sm" data-i18n="deposit_page.sgd"></div>
  </div>

  <div class="flex items-center justify-between border-b border-blue py-1">
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-coins text-yellow-500 text-xl"></i>
      <span class="text-2xl font-bold">520.50</span>
    </div>
    <div class="flex items-center gap-2">
      <button class="btn btn-sm rounded-full h-7 border-0 bg-blue text-white" data-i18n="deposit_page.Restore_all" onclick="restore_all_modal.showModal()"></button>
      <i class="fa-solid fa-rotate text-lg"></i>
    </div>
  </div>
</div>

<!-- RESTORE ALL MODAL-->
<dialog id="restore_all_modal" class="modal">
  <div class="modal-box w-4/5 !p-0">
    <div class="flex items-center justify-between bg-blue1 text-white h-12 px-4">
      <form class="opacity-0" method="dialog">
        <button class="">
          <i class="fa-solid fa-circle-xmark text-white text-lg"></i>
        </button>
      </form>
      <div class="font-semibold" data-i18n="deposit_page.All_Credits_Restored"></div>
      <form class="" method="dialog">
        <button class="">
          <i class="fa-light fa-circle-xmark text-white text-2xl"></i>
        </button>
      </form>
    </div>
    <div class="p-4">
      <div class="text-center" data-i18n="deposit_page.Restore_all_modal_description"></div>
     
      <div class="modal-action flex flex-col gap-4">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="deposit_page.Got_it" onclick="restore_all_modal.close()"></button>
      </div>
    </div>
  </div>
</dialog>
<!-- RESTORE ALL MODAL-->