<div class="flex flex-col gap-4">
  
  <div class="bg-gray4 rounded-lg">
    <div class="px-4 py-3 bg-blue1 text-white font-bold text-sm rounded-t-lg" data-i18n="refer_page.Invitation_Summary"></div>
    
    <div class="flex flex-col gap-4 px-4">

      <div class="flex flex-col">
        <div class="flex items-center justify-between gap-2 border-b border-blue px-2 py-4">
          <div class="font-bold" data-i18n="refer_page.Successful_Registered"></div>
          <div>0</div>
        </div>
        <div class="flex items-center justify-between gap-2 px-2 py-4">
          <div class="font-bold" data-i18n="refer_page.Successful_Deposited"></div>
          <div>0</div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="bg-gray4 rounded-lg">
    <div class="px-4 py-3 bg-blue1 text-white font-bold text-sm rounded-t-lg" data-i18n="refer_page.Referral_Bonus_Record"></div>
    
    <div class="flex flex-col p-4">

      <div class="overflow-x-auto">
        <table class="table table-xs table-zebra">
          <!-- head -->
          <thead>
            <tr class="border-b border-blue">
              <th class="text-blue1 !text-xs" data-i18n="refer_page.Date"></th>
              <th class="text-blue1 !text-xs" data-i18n="refer_page.Type"></th>
              <th class="text-blue1 !text-xs" data-i18n="refer_page.Bonus"></th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>3/3/25, 12:00</td>
              <td><span data-i18n="refer_page.Weekly_TO_Bonus"></span> <i class="fa-solid fa-file-lines"></i></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 638.25</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>3/3/25, 12:00</td>
              <td><span data-i18n="refer_page.Weekly_TO_Bonus"></span> <i class="fa-solid fa-file-lines"></i></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 638.25</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>3/3/25, 12:00</td>
              <td><span data-i18n="refer_page.Weekly_TO_Bonus"></span> <i class="fa-solid fa-file-lines"></i></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 638.25</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>1/3/25, 13:25</td>
              <td><span data-i18n="refer_page.Referral_Bonus"></span></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 50.00</td>
            </tr>
            <!-- row 1 -->
            <tr class="!border-transparent">
              <td>3/3/25, 12:00</td>
              <td><span data-i18n="refer_page.Weekly_TO_Bonus"></span> <i class="fa-solid fa-file-lines"></i></td>
              <td><i class="fa-solid fa-coins text-yellow-500"></i> 638.25</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-4 text-xs flex items-center gap-0 justify-center flex-col">
        <div class="italic" data-i18n="refer_page.contact_us"></div>
        <a href="#" class="font-bold" data-i18n="refer_page.support_team"></a>
      </div>
      
    </div>
  </div>
  
</div>