<div class="flex flex-col gap-4">
  
  <div class="" data-i18n="refer_page.Refer_and_Earn_banner"></div>

  <div class="flex flex-col gap-2">
    <div data-i18n="refer_page.For_each_friend_you_invite_you_ll_get"></div>
    <div class="flex items-center gap-2 bg-gray4 rounded-lg p-4">
      <img src="assets/images/refer/B9-Earn-60x60px.png" alt="" width="60" height="60" />
      <div>
        <div class="font-bold text-base" data-i18n="refer_page.EARN_SGD50"></div>
        <div data-i18n="refer_page.for_each_referral_who_signs_up_and_deposits_SGD50"></div>
      </div>
    </div>
  </div>
  
  <div class="flex flex-col gap-2">
    <div data-i18n="refer_page.Earn_weekly_from_your_Referrals"></div>
    <div class="flex items-center gap-2 bg-gray4 rounded-lg p-4">
      <img src="assets/images/refer/B9-Bonus-60x60px.png" alt="" width="60" height="60" />
      <div>
        <div class="font-bold text-base" data-i18n="refer_page.UP_TO_SGD_1000"></div>
        <div data-i18n="refer_page.UP_TO_SGD_1000_Description"></div>
        <div class="text-blue italic text-2xs mt-2" data-i18n="refer_page.UP_TO_SGD_1000_note"></div>
      </div>
    </div>
  </div>

  <div class="bg-gray4 rounded-lg">
    <div class="px-4 py-3 bg-blue1 text-white font-bold text-sm rounded-t-lg" data-i18n="refer_page.How_to_Invite_Friends"></div>
    <div class="flex flex-col gap-4 p-4">

      <div class="join w-full rounded-lg overflow-hidden">
        <label class="input validator join-item bg-blue/20 border-0 font-bold text-sm">
          <input type="text" placeholder="" value="YEBAQ4" />
        </label>
        <button class="btn btn-neutral bg-gradient-to-b border-0 min-w-32 from-blue to-blue1 join-item" data-i18n="refer_page.COPY"></button>
      </div>

      <div class="flex flex-col gap-0 ml-4 text-blue text-2xs italic">
        <div data-i18n="refer_page.note1"></div>
        <div data-i18n="refer_page.note2"></div>
      </div>

      <div data-i18n="refer_page.Other_share_options_via"></div>

      <div>
        @@include('./share-icons.html')
      </div>

    </div>
  </div>
  
</div>