<div class="grid grid-cols-3 gap-x-4 gap-y-8">
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/whatsapp.png" alt="" width="45" height="45" />
    <div class="text-center">WhatsApp</div>
  </div>
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/facebook.png" alt="" width="45" height="45" />
    <div class="text-center">Facebook</div>
  </div>
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/messenger.png" alt="" width="45" height="45" />
    <div class="text-center">Messenger</div>
  </div>
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/telegram.png" alt="" width="45" height="45" />
    <div class="text-center">Telegram</div>
  </div>
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/twitter.png" alt="" width="45" height="45" />
    <div class="text-center">X (Twitter)</div>
  </div>
  <div class="col-span-1 flex flex-col items-center gap-2">
    <img class="mx-auto" src="assets/images/refer/chain.png" alt="" width="45" height="45" />
    <div class="text-center">Share Link</div>
  </div>
</div>