<a href="/sponsorship.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-file-certificate !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Sponsorship"></div>
</a>
<a href="/blogs.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-rss !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Blog_Vlog"></div>
</a>
<a href="/help-center.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-circle-info !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Help_Center"></div>
</a>
<a href="/about-us.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <img src="assets/icons/b9-logo-icon.png" class="!h-[36px] object-contain" alt="">
  <div class="w-full text-center text-sm" data-i18n="About_Us"></div>
</a>
<a href="/contact-us.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-messages-question !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Contact_Us"></div>
</a>
<a href="/tncs.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-memo-circle-info !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="TnCs"></div>
</a>