<a href="/casino.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-heart !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Casino"></div>
</a>
<a href="/sports.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-futbol !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Sports"></div>
</a>
<a href="/esports.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-gamepad !text-3xl"></i>
  <div class="w-full text-center" data-i18n="eSports"></div>
</a>
<a href="/slot.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-dice !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Slot"></div>
</a>
<a href="/fishing.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-fish !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Fishing"></div>
</a>
<a href="/arcade.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-plane !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Arcade"></div>
</a>
<a href="/4d.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-bowling-ball !text-3xl"></i>
  <div class="w-full text-center" data-i18n="4D"></div>
</a>