<a href="/casino.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-cards !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Casino"></div>
</a>
<a href="/sports.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-futbol !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Sports"></div>
</a>
<a href="/eSports.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-gamepad !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="eSports"></div>
</a>
<a href="/slot.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-slot-machine !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Slot"></div>
</a>
<a href="/fishing.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-fish !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Fishing"></div>
</a>
<a href="/arcade.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-jet-fighter !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="Arcade"></div>
</a>
<a href="/4d.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-pool-8-ball !text-3xl"></i>
  <div class="w-full text-center text-sm" data-i18n="4D"></div>
</a>