<a href="/cash-rebate.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-hand-holding-dollar !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Cash_Rebate"></div>
</a>
<a href="/refer.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-users !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Refer_Earn"></div>
</a>
<a href="/promotions.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-gift !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Promotions"></div>
</a>
<a href="/voucher.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-ticket-simple !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Voucher"></div>
</a>
<a href="/vip.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-crown !text-3xl"></i>
  <div class="w-full text-center" data-i18n="VIP_Club"></div>
</a>
<a href="/affiliate.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <i class="fa-solid fa-handshake !text-3xl"></i>
  <div class="w-full text-center" data-i18n="Affiliate_Program"></div>
</a>
<a href="/poker-king.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
  <img class="!h-[36px] object-contain" src="assets/images/poker-king-icon.png" alt="">
  <div class="w-full text-center" data-i18n="Poker_King"></div>
</a>