<div class="flex flex-col gap-6 mt-4 mb-10">

  <div class="px-4">
    <div data-i18n="promotions_page.detail_title" class="text-xl font-bold" data-aos="fade-in"></div>
    <div class="py-4" data-aos="fade-up">
      <img src="assets/images/promotions/2.png" alt="promotion-detail-1" class="w-full h-full object-cover rounded-lg"/>
    </div>
    <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
      <div class="font-semibold" data-i18n="promotions_page.detail_title1"></div>
      <ol class="list-decimal list-inside flex flex-col gap-1">
        <li data-i18n="promotions_page.detail_title1_1"></li>
        <li data-i18n="promotions_page.detail_title1_2"></li>
        <li data-i18n="promotions_page.detail_title1_3"></li>
      </ol>
    </div>
    <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
      <div class="font-semibold" data-i18n="promotions_page.detail_title2"></div>
      <div data-i18n="promotions_page.detail_title2_1"></div>
    </div>
    <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
      <div class="font-semibold" data-i18n="promotions_page.detail_title3"></div>
      <ol class="list-decimal list-inside flex flex-col gap-1">
        <li data-i18n="promotions_page.detail_title3_1"></li>
        <li data-i18n="promotions_page.detail_title3_2"></li>
        <li data-i18n="promotions_page.detail_title3_3"></li>
        <li data-i18n="promotions_page.detail_title3_4"></li>
        <li data-i18n="promotions_page.detail_title3_5"></li>
        <li data-i18n="promotions_page.detail_title3_6"></li>
        <li data-i18n="promotions_page.detail_title3_7"></li>
        <li data-i18n="promotions_page.detail_title3_8"></li>
      </ol>
    </div>
    <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mt-20">
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm py-2 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm"></a>
    </div>
  </div>

</div>
