<div class="drawer z-60">
  <input id="promotions-detail-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="promotions-detail-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="bg-white !rounded-none text-base-content h-[100dvh] w-full !transition-none !p-0">
      <div class="">
        <!-- NAV -->
        <div class="fixed top-0 left-0 right-0 !bg-dark text-white flex items-center justify-between h-[60px] px-4 z-80">
          <label for="promotions-detail-drawer" aria-label="close sidebar" class="">
            <i class="fa-solid fa-arrow-left text-white text-xl"></i>
          </label>
          <div class="text-white text-xl">
            <div class="!text-xl !capitalize font-semibold flex-1 min-w-10/12 text-white" data-i18n="Promotions"></div>
          </div>
          <div class="min-w-6"></div>
        </div>
        <!-- CONTENT -->
        <div class="px-4 py-20 h-[calc(100dvh-60px)] overflow-y-auto text-blue1">
          <div data-i18n="promotions_page.detail_title" class="text-xl font-bold" data-aos="fade-in"></div>
          <div class="py-4" data-aos="fade-up">
            <img src="assets/images/promotions/2.png" alt="promotion-detail-1" class="w-full h-full object-cover rounded-lg"/>
          </div>
          <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
            <div class="font-semibold" data-i18n="promotions_page.detail_title1"></div>
            <ul class="flex flex-col gap-1 ml-4">
              <li class="list-decimal" data-i18n="promotions_page.detail_title1_1"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title1_2"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title1_3"></li>
            </ul>
          </div>
          <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
            <div class="font-semibold" data-i18n="promotions_page.detail_title2"></div>
            <div data-i18n="promotions_page.detail_title2_1"></div>
          </div>
          <div data-aos="fade-up" class="text-xs flex flex-col gap-2 mb-4">
            <div class="font-semibold" data-i18n="promotions_page.detail_title3"></div>
            <ul class="flex flex-col gap-1 ml-4">
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_1"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_2"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_3"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_4"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_5"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_6"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_7"></li>
              <li class="list-decimal" data-i18n="promotions_page.detail_title3_8"></li>
            </ul>
          </div>
        </div>
        <!-- FOOTER -->
        <div class="fixed bottom-0 left-0 right-0 h-[60px] shadow-lg bg-gradient-to-b from-blue to-blue1">
          <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="text-white !font-semibold text-2xl w-full h-full flex items-center justify-center"></a>
        </div>
      </div>
    </div>
  </div>
</div>