<div class="flex flex-col gap-4">

  <!-- ITEM 2 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.B9_Exclusive" class="font-semibold"></div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/2.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title2" class="font-bold"></div>
    <div data-i18n="promotions_page.description2" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>
  

  <!-- ITEM 1 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.Limited_Time" class="font-semibold"></div>
      <div class="flex gap-1 justify-end">
        <div class="">5</div>
        <div data-i18n="promotions_page.Days_Left" class=""></div>
      </div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/1.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title1" class="font-bold"></div>
    <div data-i18n="promotions_page.description1" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 1 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.Limited_Time" class="font-semibold"></div>
      <div class="flex gap-1 justify-end">
        <div class="">5</div>
        <div data-i18n="promotions_page.Days_Left" class=""></div>
      </div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/1.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title1" class="font-bold"></div>
    <div data-i18n="promotions_page.description1" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 4 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.B9_Exclusive" class="font-semibold"></div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/2.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title2" class="font-bold"></div>
    <div data-i18n="promotions_page.description2" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 5 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.Limited_Time" class="font-semibold"></div>
      <div class="flex gap-1 justify-end">
        <div class="">5</div>
        <div data-i18n="promotions_page.Days_Left" class=""></div>
      </div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/1.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title1" class="font-bold"></div>
    <div data-i18n="promotions_page.description1" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 6 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.B9_Exclusive" class="font-semibold"></div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/2.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title2" class="font-bold"></div>
    <div data-i18n="promotions_page.description2" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 7 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.Limited_Time" class="font-semibold"></div>
      <div class="flex gap-1 justify-end">
        <div class="">5</div>
        <div data-i18n="promotions_page.Days_Left" class=""></div>
      </div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/1.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title1" class="font-bold"></div>
    <div data-i18n="promotions_page.description1" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>

  <!-- ITEM 8 -->
  <div class="flex flex-col gap-2 bg-gray2 rounded-lg p-4 relative">
    <div class="text-white absolute top-10 right-0 z-10 bg-blue2 rounded-tl-xl rounded-bl-xl pl-4 pr-2 py-2 shadow-lg text-2xs text-right !leading-3">
      <div data-i18n="promotions_page.B9_Exclusive" class="font-semibold"></div>
    </div>
    <div class="relative">
      <img src="assets/images/promotions/2.png" alt="promotion-1" class="w-full h-full object-cover rounded-lg"/>
      <div class="absolute inset-y-4 left-4 w-1/2 flex items-center justify-center text-white text-lg leading-6 font-semibold" data-i18n="promotions_page.Hot_welcome_you_aboard"></div>
    </div>
    <div data-i18n="promotions_page.title2" class="font-bold"></div>
    <div data-i18n="promotions_page.description2" class="text-xs"></div>
    <div class="flex gap-2 mt-2">
      <a href="/promotions-detail.html" data-i18n="promotions_page.More_Info" class="btn btn-sm flex-1 rounded-full border-blue border-2 text-blue"></a>
      <a href="/deposit.html" data-i18n="promotions_page.Deposit_Now" class="btn btn-sm flex-1 rounded-full bg-gradient-to-b from-blue to-blue1 text-white"></a>
    </div>
  </div>


</div>