<div class="bg-gradient-to-b from-blue to-blue1 px-4 py-6 text-white" data-aos="fade-up">
  <div data-i18n="footer_section.Payment_Methods"></div>
  <div class="flex gap-3 mt-4">
    <img class="w-[35px]" src="assets/images/payment-method/bitcoin.png" alt="" />
    <img class="w-[35px]" src="assets/images/payment-method/eth.png" alt="" />
    <img class="w-[35px]" src="assets/images/payment-method/usdt.png" alt="" />
    <img class="w-[35px]" src="assets/images/payment-method/touch.png" alt="" />
    <img class="w-[35px]" src="assets/images/payment-method/duitnow.png" alt="" />
  </div>
</div>

<div class="footer container !bg-dark !text-blue1 !mt-0 !pb-[100px]">

  <div class="flex flex-col gap-0 w-full">
    <div class="collapse collapse-arrow w-full" data-aos="fade-up">
      <input type="radio" name="footer-games" checked="checked" class="!py-2 !min-h-auto" />
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2 border-b border-blue/50 after:!top-[20px]" data-i18n="Games"></div>
      <div class="collapse-content flex flex-col gap-2 text-blue2/50 mt-3">
        <a href="/sports.html" data-i18n="Sports"></a>
        <a href="/esports.html" data-i18n="eSports"></a>
        <a href="/live-casino.html" data-i18n="Live_Casino"></a>
        <a href="/slot.html" data-i18n="Slot"></a>
        <a href="/arcade.html" data-i18n="Arcade"></a>
        <a href="/fishing.html" data-i18n="Fishing"></a>
        <a href="/4d.html" data-i18n="4D"></a>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full" data-aos="fade-up">
      <input type="radio" name="footer-games" class="!py-2 !min-h-auto"/>
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2 border-b border-blue/50 after:!top-[20px]" data-i18n="B92u_Rewards"></div>
      <div class="collapse-content flex flex-col gap-2 text-blue2/50 mt-3">
        <a href="/refer.html" data-i18n="Refer_and_Earn"></a>
        <a href="/vip.html" data-i18n="B92u_VIP_Program"></a>
        <a href="/promotions.html" data-i18n="Promotions"></a>
        <a href="/poker-king.html" data-i18n="B92u_Poker_King"></a>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full" data-aos="fade-up">
      <input type="radio" name="footer-games" class="!py-2 !min-h-auto"/>
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2 border-b border-blue/50 after:!top-[20px]" data-i18n="Support"></div>
      <div class="collapse-content flex flex-col gap-2 text-blue2/50 mt-3">
        <a href="/contact-us.html" data-i18n="Contact_Us"></a>
        <a href="/help-center.html" data-i18n="Help_Center"></a>
        <a href="/faqs.html" data-i18n="FAQs"></a>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full" data-aos="fade-up">
      <input type="radio" name="footer-games" class="!py-2 !min-h-auto"/>
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2 border-b border-blue/50 after:!top-[20px]" data-i18n="Info"></div>
      <div class="collapse-content flex flex-col gap-2 text-blue2/50 mt-3">
        <a href="/about-us.html" data-i18n="About_B9_Casino"></a>
        <a href="/tncs.html" data-i18n="General_T_Cs_Conditions"></a>
        <a href="/user-kyc.html" data-i18n="KYC_Policy"></a>
        <a href="/privacy-policy.html" data-i18n="Privacy_Policy"></a>
        <a href="/responsible-gaming.html" data-i18n="Responsible_Gaming"></a>
        <a href="/sponsorship.html" data-i18n="Sponsorship"></a>
      </div>
    </div>
    <div class="border-b border-blue/50 w-full pb-3" data-aos="fade-up">
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2" data-i18n="Social_Media"></div>
      <div class="flex gap-5 items-center flex-wrap">
        <a href="#">
          <i class="fa-brands fa-youtube text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-facebook-f text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-x-twitter text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-telegram text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-whatsapp text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-instagram text-3xl text-blue2/50"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-tiktok text-3xl text-blue2/50"></i>
        </a>
      </div>
    </div>
    <div class="border-b border-blue/50 w-full pb-3" data-aos="fade-up">
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2" data-i18n="Licensed"></div>
      <div class="flex gap-5 items-center flex-wrap">
        <a href="/license.html">
          <i class="fa-brands fa-youtube text-3xl text-blue2/50"></i>
        </a>
      </div>
      <div class="text-blue2 my-2 text-xs" data-i18n="Licensed_Description"></div>
      <div class="text-blue2/50 my-2 italic text-xs" data-i18n="Licensed_Description1"></div>
    </div>
    <div class="border-b border-blue/50 w-full pb-3" data-aos="fade-up">
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2" data-i18n="Certification"></div>
      <div class="flex gap-x-3 gap-y-4 items-center flex-wrap">
        <a href="#">
          <img class="opacity-50 max-h-[20px] max-w-[80px]" src="assets/images/certification/cer-001.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[22px] max-w-[100px]" src="assets/images/certification/cer-002.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[25px] max-w-[100px]" src="assets/images/certification/cer-1.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[18px] max-w-[100px]" src="assets/images/certification/cer-2.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[22px] max-w-[100px]" src="assets/images/certification/cer-3.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[30px] max-w-[100px]" src="assets/images/certification/cer-4.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[30px] max-w-[100px]" src="assets/images/certification/cer-5.png" alt="">
        </a>
      </div>
    </div>
    <div class="w-full pb-3" data-aos="fade-up">
      <div class="collapse-title font-semibold px-0 py-2 !min-h-auto text-blue2" data-i18n="Responsible_Gaming"></div>
      <div class="flex gap-x-3 gap-y-4 items-center flex-wrap">
        <a href="#">
          <img class="opacity-50 max-h-[40px] max-w-[100px]" src="assets/images/responsible-gaming/res-1.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[40px] max-w-[100px]" src="assets/images/responsible-gaming/res-2.png" alt="">
        </a>
        <a href="#">
          <img class="opacity-50 max-h-[40px] max-w-[100px]" src="assets/images/responsible-gaming/res-3.png" alt="">
        </a>
      </div>
    </div>
  </div>

  
</div>