<nav class="navbar fixed-bottom fixed bottom-0 inset-x-0 w-full navbar-light !bg-blue !rounded-t-3xl">
  <div class="container content">
    <a href="/" id="nav-menu" class="nav-item @@if (context.active === 0) {active}">
      <div class="img" >
        <i class="fa-solid fa-bars text-white text-xl"></i>
      </div>
      <div class="text !text-white !mb-1 !text-xs" data-i18n="footer.MENU"></div>
    </a>
    @@if (!!context.without_login) {
      <a href="/register.html" class="nav-item @@if (context.active === 1) {active}">
        <div class="img">
          <i class="fa-solid fa-user text-white text-xl"></i>
        </div>
        <div class="text !text-white !mb-1 !text-xs" data-i18n="footer.REGISTER"></div>
      </a>
    }
    @@if (!context.without_login) {
      <a href="/profile.html" class="nav-item @@if (context.active === 1) {active}">
        <div class="img">
          <i class="fa-solid fa-user text-white text-xl"></i>
        </div>
        <div class="text !text-white !mb-1 !text-xs" data-i18n="Account"></div>
      </a>
    }
    
    <a href="/poker-king.html" class="nav-item @@if (context.active === 2) {active}">
      <div class="img relative">
        <div class="absolute -top-[60px] !h-[80px] !w-[80px]">
          <img class="!h-[80px] !w-[80px] object-contain" src="assets/images/poker-king-icon.png" alt="" />
        </div>
      </div>
      <div class="text !text-white !mb-1 !text-xs" data-i18n="footer.B9_POKER_KING"></div>
    </a>
    <a href="/promotions.html" class="nav-item @@if (context.active === 3) {active}">
      <div class="img">
        <i class="fa-solid fa-gift text-white text-xl"></i>
      </div>
      <div class="text !text-white !mb-1 !text-xs" data-i18n="footer.PROMOTION"></div>
    </a>
    <a href="/live-chat.html" class="nav-item @@if (context.active === 4) {active}">
      <div class="img">
        <i class="fa-solid fa-comments text-white text-xl"></i>
      </div>
      <div class="text !text-white !mb-1 !text-xs" data-i18n="footer.SUPPORT"></div>
    </a>
  </div>
</nav>