<nav class="navbar fixed-top navbar-light nav-child fixed top-0 z-50 !bg-dark text-white">
  <div class="flex-none w-full flex items-center justify-between !gap-0 !px-4 @@if (!context.back_url && !context.help_url) {justify-center}">
    @@if (!!context.back_url) {
      <div class="flex items-center gap-4">
        <a id="back_url" class="@@if (!!context.use_back_url) {use_back_url}" href="@@back_url">
          @@if (!!context.icon_back_white) {
            <i class="fa-solid fa-arrow-left text-white text-xl"></i>
          }
          @@if (!context.icon_back_white) {
            <img src="assets/icons/icon_back.png" alt="" />
          }
        </a>
        <a class="" href="/">
          <i class="fa-solid fa-house text-white text-xl"></i>
        </a>
      </div>
    }
    <div class="title !text-xl !capitalize flex-1 text-white" data-i18n="@@title"></div>
    @@if (!!context.right_expand_icon && !!context.right_expand_icon_url) {
      @@include('@@right_expand_icon', {right_expand_icon_url: '@@right_expand_icon_url'})
    }
    <div class="w-12 text-right">
      @@if (!!context.show_accordion) {
        <label role="button" id="navbar_accordion" class="text-white">
          <input type="checkbox" name="navbar-accordion" class="hidden"/>
          <i class="fa-solid fa-caret-down text-xl transition-transform duration-100"></i>
        </label>
      }
    </div>
  </div>
  @@if (!!context.nav_expand_url || !!context.nav_expand_active_btn || !!content.nav_expand_active_btn_text) {
    @@include('@@nav_expand_url', {nav_expand_active_btn: '@@nav_expand_active_btn', nav_expand_active_btn_text: '@@nav_expand_active_btn_text'})
  }
  
</nav>

@@include('./sidebar.html')