<div id="mySidenav" class="sidenav">
  <div class="left-nav !bg-white !justify-start">

    <nav class="navbar fixed-top flex flex-col fixed top-0 inset-x-0  z-50">
      <div class="container content justify-between items-center w-full !bg-dark text-white">
        <div class="w-10">
          <i class="close-nav fa-solid fa-arrow-left text-xl"></i>
        </div>
        <div class="flex items-center">
          <a href="/">
            <img class="content__logo !max-w-[100%] !h-[30px]" src="assets/images/b9-logo.png" alt="" />
          </a>
        </div>
        <div class="w-10"></div>
      </div>
    
      <div class="bg-blue1 flex items-center justify-start w-full text-white h-6">
        <div class="px-2">
          <i class="fa-solid fa-volume-low"></i>
        </div>
        <marquee>
          <span class="text-3xs" data-i18n="notification_run"></span>
        </marquee>
      </div>
    </nav>

    <div class="shadow-xl p-4 mt-[75px]">
      <a href="/vip.html" class="w-full">
        <img src="assets/images/vip-banner.png" class="w-full" />
      </a>
      <div class="flex items-center justify-center gap-2 mt-3">
        <span data-i18n="Go_to"></span>
        <a href="/vip.html" class="text-blue1 font-bold underline flex items-center gap-1">
          <span data-i18n="MY_VIP"></span>
          <i class="fa-solid fa-crown"></i>
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div class="flex flex-col gap-0 w-full p-4">
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" checked="checked" class="!py-3 !min-h-auto" />
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Transaction"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            <a href="/deposit.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-circle-plus !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Deposit"></div>
            </a>
            <a href="/withdrawal.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-circle-minus !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Withdrawal"></div>
            </a>
            <a href="/transfer.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-arrow-right-arrow-left !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Transfer"></div>
            </a>
            <a href="/history.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-futbol !text-3xl"></i>
              <div class="w-full text-center" data-i18n="History"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-3 !min-h-auto" />
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Games"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/Games.html')
          </div>
        </div>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-2 !min-h-auto"/>
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Rewards"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/Rewards.html')
          </div>
        </div>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-3 !min-h-auto" />
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Account_Settings"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            <a href="/profile.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-user !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Profile"></div>
            </a>
            <a href="/banking.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-building-columns !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Banking"></div>
            </a>
            <a href="/password.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-lock !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Password"></div>
            </a>
            <a href="/inbox.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-envelope !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Inbox"></div>
            </a>
            <a href="/regional-language.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-globe !text-3xl"></i>
              <div class="w-full text-center" data-i18n="Regional_Language"></div>
            </a>
            <a href="/user-kyc.html" class="col-span-1 flex flex-col items-center justify-start gap-1">
              <i class="fa-solid fa-shield-halved !text-3xl"></i>
              <div class="w-full text-center" data-i18n="User_KYC"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4 mt-3 flex items-center gap-2">
        <img src="assets/images/download-app.png" class="h-[65px]" />
        <div>
          <div data-i18n="Download_Application" class="font-bold"></div>
          <div data-i18n="Download_Application_Note" class="text-xs font-normal mt-1"></div>
        </div>
        <i class="fa-solid fa-download !text-4xl text-gray1"></i>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-2 !min-h-auto"/>
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="B9_Casino_Supports"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/B9_Casino_Supports.html')
          </div>
        </div>
      </div>
      <div id="regions-currencies-languages" class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4 mt-3" data-i18n="Regions_Currencies_Languages"></div>
      <div id="regions-currencies-languages" class="collapse-title font-semibold px-0 py-2 !min-h-auto bg-blue1 text-white rounded-lg after:!top-[20px] px-4 mt-3 flex items-center gap-2">
        <i class="fa-solid fa-right-from-bracket !text-lg"></i>
        <div data-i18n="Logout"></div>
      </div>
    </div>
  

  </div>
  <div class="backdrop"></div>
</div>
<!-- @@include('./select-language-modal.html') -->
