<div id="mySidenav" class="sidenav">
  <div class="left-nav !bg-white">

    <nav class="navbar fixed-top !min-h-auto sticky top-0 inset-x-0 z-50">
      <div class="w-full">
        <div class="h-[50px] flex !justify-between !items-center w-full !bg-dark text-white px-2">
          <div class="w-10">
            <i class="close-nav fa-solid fa-arrow-left text-xl"></i>
          </div>
          <a class="" href="/home-without-login.html">
            <img class="content__logo !max-w-[100%] !h-[30px]" src="assets/images/b9-logo.png" alt="" />
          </a>
          <div class="w-10"></div>
        </div>
      
        @@include('./nav-notification-run.html')
      </div>
    </nav>

    <div class="flex flex-col gap-0 w-full p-4">
      <a href="" class="w-full">
        <img src="assets/images/welcome-banner.png" class="w-full" />
      </a>
      <div class="flex items-center justify-center gap-2 mt-3">
        <span data-i18n="Already_a_member"></span>
        <a href="" class="text-blue1 font-bold underline" data-i18n="Login_here"></a>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" checked="checked" class="!py-3 !min-h-auto" />
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Games"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/Games.html')
          </div>
        </div>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-2 !min-h-auto"/>
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="Rewards"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/Rewards.html')
          </div>
        </div>
      </div>
      <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4 mt-3 flex items-center gap-2">
        <img src="assets/images/download-app.png" class="h-[65px]" />
        <div>
          <div data-i18n="Download_Application" class="font-bold"></div>
          <div data-i18n="Download_Application_Note" class="text-xs font-normal mt-1"></div>
        </div>
        <i class="fa-solid fa-download !text-4xl text-gray1"></i>
      </div>
      <div class="collapse collapse-arrow w-full mt-3">
        <input type="radio" name="sidebar-games" class="!py-2 !min-h-auto"/>
        <div class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4" data-i18n="B9_Casino_Supports"></div>
        <div class="collapse-content !p-0">
          <div class="grid grid-cols-4 gap-x-2 gap-y-6 text-blue1 mt-2 bg-gray4 px-4 py-6 rounded-lg text-xs">
            @@include('./sidebar/B9_Casino_Supports.html')
          </div>
        </div>
      </div>
      <div id="regions-currencies-languages" class="collapse-title font-semibold px-0 py-3 !min-h-auto text-blue1 rounded-lg after:!top-[20px] bg-gray4 px-4 my-3" data-i18n="Regions_Currencies_Languages"></div>
    </div>
  

  </div>
  <div class="backdrop"></div>
</div>
<!-- @@include('./select-language-modal.html') -->
