.poker-king .draw-btn {
  animation: draw-btn 1s ease-in-out infinite;
}
.poker-king .tabs-promotions {
  gap: 0px !important;
}
.poker-king .tabs-promotions .tab-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 10px;
  width: 100%;
}
.poker-king .tabs-promotions .tab-list::-webkit-scrollbar {
  display: none;
}
.poker-king .tabs-promotions .tab-list > .tab {
  flex: 1;
  padding: 3px 2px;
  height: auto;
  border-right: 1px solid var(--color-blue4);
  filter: grayscale(0);
  color: var(--color-blue4);
  min-width: 50px;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px !important;
}
.poker-king .tabs-promotions .tab-list > .tab:before {
  display: none;
}
.poker-king .tabs-promotions .tab-list > .tab:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected=true]) {
  opacity: 0.5;
  color: var(--color-blue4);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
.poker-king .tabs-promotions .tab-list > .tab:last-child {
  border-right: none;
}
.poker-king .tabs-promotions .tab-list > .tab > div {
  width: 100%;
}
.poker-king .tabs-promotions > .tab-content-list .tab-content-item {
  display: none;
}
.poker-king .tabs-promotions > .tab-content-list .tab-content-item.active {
  display: block;
}

@keyframes draw-btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}