.tabs-promotions {
  gap: 10px;
}
.tabs-promotions .tab-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 10px;
}
.tabs-promotions .tab-list::-webkit-scrollbar {
  display: none;
}
.tabs-promotions .tab-list > .tab {
  flex: none;
  padding: 3px 10px;
  height: auto;
  border-right: 1px solid var(--color-blue1);
  filter: grayscale(0);
  color: var(--color-blue1);
  min-width: 50px;
  text-decoration: underline;
  font-weight: 600;
}
.tabs-promotions .tab-list > .tab:before {
  display: none;
}
.tabs-promotions .tab-list > .tab:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected=true]) {
  opacity: 0.5;
  color: var(--color-blue);
  text-decoration: none;
  font-weight: 400;
}
.tabs-promotions .tab-list > .tab:last-child {
  border-right: none;
}
.tabs-promotions > .tab-content-list .tab-content-item {
  display: none;
}
.tabs-promotions > .tab-content-list .tab-content-item.active {
  display: block;
}