<div class="flex flex-col gap-4 mb-10">

  <!-- SLIDER -->
  <div>
    @@include('./slider.html')
  </div>

  <!-- CATEGORIES -->
  <div class="px-4">
    @@include('./categories.html', {active: -1})
  </div>

  <!-- TOP PICKED -->
  <div class="">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_TOP_PICKED"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./top-picked.html')

  </div>

  <!-- B9 HOT MATCH -->
  <div class="">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_HOT_MATCH"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./hot-match.html')
  </div>

  <!-- B9 EXCLUSIVE -->
  <div class="">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_EXCLUSIVE"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./exclusive.html')
  </div>

  <!-- RECENTLY WINNERS -->
  <div class="px-4">
    <div class="flex justify-between items-center">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.RECENTLY_WINNERS"></div>
      <div class="flex gap-2 recently-winners">
        <input id="recently-winners-checkbox" type="radio" name="recently-winners" class="hidden" checked />
        <input id="recently-winners-checkbox1" type="radio" name="recently-winners" class="hidden" />
        <label for="recently-winners-checkbox" class="btn btn-xs border-none bg-transparent text-blue1 rounded-full lucky-win" data-i18n="home.Lucky_Win"></label>
        <label for="recently-winners-checkbox1" class="btn btn-xs border-none bg-transparent text-blue1 rounded-full high-roller" data-i18n="home.High_Roller"></label>
      </div>
    </div>

    @@include('./recently-winner.html')
  </div>

  <!-- GAME PROVIDER -->
  <div class="">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.GAME_PROVIDER"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./game-provider.html')
  </div>


</div>