<div class="flex flex-col gap-6 mb-10">

  <!-- SLIDER -->
  <div data-aos="fade-in">
    @@include('./slider.html')
  </div>

  <!-- CATEGORIES -->
  <div class="px-4" data-aos="fade-up">
    @@include('../base/categories-nav/index.html', {active: -1})
  </div>

  <!-- TOP PICKED -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_TOP_PICKED"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./top-picked.html')

  </div>

  <!-- B9 HOT MATCH -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_HOT_MATCH"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./hot-match.html')
  </div>

  <!-- B9 EXCLUSIVE -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.B9_EXCLUSIVE"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./exclusive.html')
  </div>

  <!-- RECENTLY WINNERS -->
  <div class="px-4" data-aos="fade-up">
    <div class="flex justify-between items-center">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.RECENTLY_WINNERS"></div>
      <div class="flex gap-2 recently-winners">
        <input id="recently-winners-checkbox" type="radio" name="recently-winners" class="hidden" checked />
        <input id="recently-winners-checkbox1" type="radio" name="recently-winners" class="hidden" />
        <label for="recently-winners-checkbox" class="btn btn-xs border-none bg-transparent text-blue1 rounded-full lucky-win" data-i18n="home.Lucky_Win"></label>
        <label for="recently-winners-checkbox1" class="btn btn-xs border-none bg-transparent text-blue1 rounded-full high-roller" data-i18n="home.High_Roller"></label>
      </div>
    </div>

    @@include('./recently-winner.html')
  </div>

  <!-- GAME PROVIDER -->
  <div class="" data-aos="fade-up">
    <div class="flex justify-between items-center px-4">
      <div class="text-blue1 font-semibold text-base" data-i18n="home.GAME_PROVIDER"></div>
      <a href="" class="text-white btn btn-xs bg-blue border-none rounded-full px-4" data-i18n="View_All" class="text-sm"></a>
    </div>

    @@include('./game-provider.html')
  </div>


</div>


<!-- MODAL -->


<!-- Message from B9 MODAL -->
<dialog id="message_from_b9_modal" class="modal flex items-end justify-center pb-14">
  <div class="modal-box w-2/3 !p-0">
    <div class="flex items-center justify-between bg-blue1 text-white h-12 px-4">
      <div>
        <img src="assets/icons/b9-logo-icon.png" alt="B9 Logo" class="w-10">
      </div>
      <div class="font-semibold" data-i18n="home_page.Message_from_B9"></div>
      <form class="" method="dialog">
        <button class="">
          <i class="fa-light fa-circle-xmark text-white text-2xl"></i>
        </button>
      </form>
    </div>
    <div class="h-32 bg-gray1"></div>
    <div class="p-4">
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="font-semibold text-center" data-i18n="home_page.Message_from_B9_description"></div>
        <div class="text-center" data-i18n="home_page.Message_from_B9_description1"></div>
      </div>
      <div class="modal-action flex flex-col gap-4">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="home_page.Find_Out_More" onclick="message_from_b9_modal.close()"></button>
      </div>

    </div>
  </div>
</dialog>
<!-- Message from B9 MODAL -->

<!-- Maximize Your Rewards MODAL -->
<dialog id="maximize_your_rewards_modal" class="modal flex items-start justify-end pt-10 pr-4">
  <div class="modal-box w-2/3 !p-0 relative">
    <form class="absolute top-3 right-3" method="dialog">
      <button class="">
        <i class="fa-solid fa-circle-xmark text-blue1 text-2xl"></i>
      </button>
    </form>
    <div class="p-4">
      <div class="flex gap-4">
        <div class="h-[60px] w-[80px] rounded-lg bg-gray1"></div>
        <div>
          <div class="text-2xs">1H : 30M : 20S</div>
          <div class="font-semibold" data-i18n="home_page.Maximize_Your_Rewards"></div>
        </div>
      </div>
      <div class="mt-2" data-i18n="home_page.Maximize_Your_Rewards_description"></div>
      <div class="modal-action flex flex-col gap-4 !mt-2">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="home_page.Find_Out_More" onclick="maximize_your_rewards_modal.close()"></button>
      </div>

    </div>
  </div>
</dialog>
<!-- Maximize Your Rewards MODAL -->

<!-- Daily Mystery Reward Awaiting MODAL -->
<dialog id="daily_mystery_reward_awaiting_modal" class="modal flex items-center justify-end pr-4">
  <div class="modal-box w-2/3 !p-0 relative">
    <form class="absolute top-3 right-3" method="dialog">
      <button class="">
        <i class="fa-solid fa-circle-xmark text-blue1 text-2xl"></i>
      </button>
    </form>
    <div class="p-4">
      <div class="flex gap-4">
        <div class="h-[60px] w-[80px] rounded-lg bg-gray1"></div>
        <div>
          <div class="text-2xs">1H : 30M : 20S</div>
          <div class="font-semibold" data-i18n="home_page.Daily_Mystery_Reward_Awaiting"></div>
        </div>
      </div>
      <div class="mt-2" data-i18n="home_page.Daily_Mystery_Reward_Awaiting_description"></div>
      <div class="modal-action flex flex-col gap-4 !mt-2">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="home_page.Deposit_Now" onclick="daily_mystery_reward_awaiting_modal.close()"></button>
      </div>

    </div>
  </div>
</dialog>
<!-- Daily Mystery Reward Awaiting MODAL -->

<!-- Introducing Bonus Mania MODAL -->
<dialog id="introducing_bonus_mania_modal" class="modal">
  <div class="modal-box w-2/3 !p-0 relative">
    <form class="absolute top-3 right-3" method="dialog">
      <button class="">
        <i class="fa-solid fa-circle-xmark text-blue1 text-2xl"></i>
      </button>
    </form>
    <div class="h-[350px] bg-gray1"></div>
    <div class="p-4">
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="font-semibold text-center" data-i18n="home_page.Introducing_Bonus_Mania"></div>
        <div class="text-center" data-i18n="home_page.Introducing_Bonus_Mania_description"></div>
      </div>
     
      <div class="modal-action flex flex-col gap-4">
        <button class="btn btn-lg !min-h-10 flex-1 rounded-xl shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="home_page.Find_Out_More" onclick="introducing_bonus_mania_modal.close()"></button>
      </div>

    </div>
  </div>
</dialog>
<!-- Introducing Bonus Mania MODAL -->

<!-- Never Miss a bonus MODAL -->
<dialog id="never_miss_a_bonus_modal" class="modal flex items-end justify-center">
  <div class="modal-box w-full !p-0 relative">
    <div class="px-4 py-6">
      <div class="flex gap-4">
        <div class="flex-none">
          <img src="assets/icons/b9-logo-icon.png" alt="" class="w-[80px]">
        </div>
        <div>
          <div class="text-gray1" data-i18n="home_page.Never_Miss_a_Bonus"></div>
          <div class="modal-action flex gap-4 !mt-4">
            <button class="btn btn-sm !min-h-10 flex-1 rounded-lg shadow-lg bg-white text-blue1 !border !border-blue1 !font-semibold text-sm" data-i18n="home_page.Miss_Out" onclick="never_miss_a_bonus_modal.close()"></button>
            <button class="btn btn-sm !min-h-10 flex-1 rounded-lg shadow-lg bg-gradient-to-b from-blue to-blue1 text-white !font-semibold text-sm" data-i18n="home_page.Sign_Me_Up" onclick="never_miss_a_bonus_modal.close()"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</dialog>
<!-- Never Miss a bonus MODAL -->


<!-- MODAL -->