<div class="mt-4 pl-4 flex gap-3 overflow-x-auto scrollbar-hide pr-4">

  <!-- item 1 -->
  <div class="flex flex-col justify-between gap-3 w-[55%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[100px]">
    <a href="" class="flex justify-end items-center">
      <i class="fa-solid fa-circle-chevron-right text-xl"></i>
    </a>
    <div>
      <div>
        <span data-i18n="home.Exclusive_Event"></span>
      </div>
      <div class="font-semibold text-base" data-i18n="home.Poker_King"></div>
    </div>
  </div>

  <!-- item 2 -->
  <div class="flex flex-col justify-between gap-3 w-[55%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[100px]">
    <a href="" class="flex justify-end items-center">
      <i class="fa-solid fa-circle-chevron-right text-xl"></i>
    </a>
    <div>
      <div>
        <span data-i18n="home.Earn_SGD50_per"></span>
        <i class="fa-solid fa-user text-base"></i>
      </div>
      <div class="font-semibold text-base" data-i18n="home.Refer_Earn"></div>
    </div>
  </div>

  <!-- item 3 -->
  <div class="flex flex-col justify-between gap-3 w-[55%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[100px]">
    <a href="" class="flex justify-end items-center">
      <i class="fa-solid fa-circle-chevron-right text-xl"></i>
    </a>
    <div>
      <div>
        <span data-i18n="home.Earn_9_per_month"></span>
      </div>
      <div class="font-semibold text-base" data-i18n="home.B92u_Bank"></div>
    </div>
  </div>

</div>