<div class="mt-4 pl-4 flex gap-3 overflow-x-auto scrollbar-hide pr-4">

  <!-- item 1 -->
  <div class="flex flex-col justify-end gap-3 w-[40%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[80px]">
    <div class="text-center">
      <span>242</span>
      <span data-i18n="home.Games"></span>
    </div>
  </div>

  <!-- item 1 -->
  <div class="flex flex-col justify-end gap-3 w-[40%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[80px]">
    <div class="text-center">
      <span>76</span>
      <span data-i18n="home.Games"></span>
    </div>
  </div>

  <!-- item 1 -->
  <div class="flex flex-col justify-end gap-3 w-[40%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[80px]">
    <div class="text-center">
      <span>667</span>
      <span data-i18n="home.Games"></span>
    </div>
  </div>

  <!-- item 1 -->
  <div class="flex flex-col justify-end gap-3 w-[40%] flex-none p-4 rounded-xl text-xs text-white bg-blue1 h-[80px]">
    <div class="text-center">
      <span>141</span>
      <span data-i18n="home.Games"></span>
    </div>
  </div>


</div>