<div class="mt-4 pl-4 flex gap-3 overflow-x-auto scrollbar-hide pr-4">
  <!-- item 1 -->
  <div class="flex flex-col gap-3 w-[80%] flex-none p-3 rounded-xl text-xs bg-[url(assets/images/home/hot-match-bg.png)] bg-cover bg-center">
    <div class="flex justify-between items-center mb-1 pb-1 border-b border-blue1">
      <div data-i18n="home.England_Premier_League"></div>
      <div class="font-semibold">8:00 PM (GMT+8)</div>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/arsenal.png" alt="" class="w-[20px] h-[20px]">
        Arsenal
      </span>
      <span class="flex-1 text-center">2</span>
      <span class="flex-1 flex items-center justify-end">
        <i class="fa-solid fa-square-poll-vertical text-xl"></i>
      </span>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/tottenham.png" alt="" class="w-[20px] h-[20px]">
        Tottenham
      </span>
      <span class="flex-1 text-center">1</span>
      <span class="flex-1 flex items-center justify-end">
        <span class="badge bg-blue1 border-none text-white font-normal text-2xs" data-i18n="home.Ongoing"></span>
      </span>
    </div>
    <div class="flex justify-between items-center gap-3">
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>1</span>
        <span class="font-semibold">1.75</span>
      </div>
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>2</span>
        <span class="font-semibold">6.50</span>
      </div>
    </div>
    <div class="flex justify-start items-center gap-1">
      <div data-i18n="home.Handicap_Details_by"></div>
      <div data-i18n="home.CMD368" class="font-semibold"></div>
    </div>
  </div>
  
  <!-- item 2 -->
  <div class="flex flex-col gap-3 w-[80%] flex-none p-3 rounded-xl text-xs bg-[url(assets/images/home/hot-match-bg.png)] bg-cover bg-center">
    <div class="flex justify-between items-center mb-1 pb-1 border-b border-blue1">
      <div data-i18n="home.England_Premier_League"></div>
      <div class="font-semibold">8:00 PM (GMT+8)</div>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/arsenal.png" alt="" class="w-[20px] h-[20px]">
        Arsenal
      </span>
      <span class="flex-1 text-center">2</span>
      <span class="flex-1 flex items-center justify-end">
        <i class="fa-solid fa-square-poll-vertical text-xl"></i>
      </span>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/tottenham.png" alt="" class="w-[20px] h-[20px]">
        Tottenham
      </span>
      <span class="flex-1 text-center">1</span>
      <span class="flex-1 flex items-center justify-end">
        <span class="badge bg-blue1 border-none text-white font-normal text-2xs" data-i18n="home.Ongoing"></span>
      </span>
    </div>
    <div class="flex justify-between items-center gap-3">
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>1</span>
        <span class="font-semibold">1.75</span>
      </div>
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>2</span>
        <span class="font-semibold">6.50</span>
      </div>
    </div>
    <div class="flex justify-start items-center gap-1">
      <div data-i18n="home.Handicap_Details_by"></div>
      <div data-i18n="home.CMD368" class="font-semibold"></div>
    </div>
  </div>
  
  <!-- item 3 -->
  <div class="flex flex-col gap-3 w-[80%] flex-none p-3 rounded-xl text-xs bg-[url(assets/images/home/hot-match-bg.png)] bg-cover bg-center">
    <div class="flex justify-between items-center mb-1 pb-1 border-b border-blue1">
      <div data-i18n="home.England_Premier_League"></div>
      <div class="font-semibold">8:00 PM (GMT+8)</div>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/arsenal.png" alt="" class="w-[20px] h-[20px]">
        Arsenal
      </span>
      <span class="flex-1 text-center">2</span>
      <span class="flex-1 flex items-center justify-end">
        <i class="fa-solid fa-square-poll-vertical text-xl"></i>
      </span>
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span class="flex-1 flex items-center gap-1">
        <img src="assets/images/home/tottenham.png" alt="" class="w-[20px] h-[20px]">
        Tottenham
      </span>
      <span class="flex-1 text-center">1</span>
      <span class="flex-1 flex items-center justify-end">
        <span class="badge bg-blue1 border-none text-white font-normal text-2xs" data-i18n="home.Ongoing"></span>
      </span>
    </div>
    <div class="flex justify-between items-center gap-3">
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>1</span>
        <span class="font-semibold">1.75</span>
      </div>
      <div class="bg-white rounded-lg flex items-center justify-between flex-1 py-1 px-2">
        <span>2</span>
        <span class="font-semibold">6.50</span>
      </div>
    </div>
    <div class="flex justify-start items-center gap-1">
      <div data-i18n="home.Handicap_Details_by"></div>
      <div data-i18n="home.CMD368" class="font-semibold"></div>
    </div>
  </div>
  
</div>