<div class="overflow-x-auto mt-4">
  <table class="table table-zebra table-sm rounded-t-lg overflow-hidden">
    <!-- head -->
    <thead>
      <tr class="!border-none bg-gray2">
        <th data-i18n="home.Game" class="font-semibold text-blue1 max-w-[40%]"></th>
        <th data-i18n="home.Player" class="font-semibold text-blue1"></th>
        <th data-i18n="home.Multi" class="font-semibold text-blue1"></th>
        <th data-i18n="home.Payout" class="font-semibold text-blue1 min-w-[90px]"></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-futbol"></i>
            <span>Fortune 77779099898</span>
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-gamepad"></i>
            lightning 77779099898
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-futbol"></i>
            <span>Fortune 77779099898</span>
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-gamepad"></i>
            lightning 77779099898
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-futbol"></i>
            <span>Fortune 77779099898</span>
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-gamepad"></i>
            lightning 77779099898
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-futbol"></i>
            <span>Fortune 77779099898</span>
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-gamepad"></i>
            lightning 77779099898
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-futbol"></i>
            <span>Fortune 77779099898</span>
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
      <!-- row 1 -->
      <tr class="!border-none">
        <td>
          <div class="line-clamp-1">
            <i class="fa-solid fa-gamepad"></i>
            lightning 77779099898
          </div>
        </td>
        <td>Jav9xxx</td>
        <td>25.06x</td>
        <td>
          <i class="fa-solid fa-coins text-yellow-500"></i>
          1,252.82
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
