<div class="home-slider-swiper swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/images/b9-banner.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/images/b9-banner.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/images/b9-banner.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/images/b9-banner.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/images/b9-banner.png" alt="">
    </div>
  </div>
  <div class="swiper-pagination flex justify-end items-center px-4 pb-2"></div>
</div>