<div class="dropdown dropdown-bottom dropdown-end [position:initial]">
  <button tabindex="0" role="button" class="">
    <i class="fa-solid fa-circle-info text-xl text-blue"></i>
  </button>
  <div tabindex="0" class="dropdown-content fixed menu bg-white rounded-box z-1 w-36 p-2 shadow-sm text-gray3 text-[10px] flex flex-col gap-1">
    <div class="bg-gray2 rounded-md p-1 flex items-center justify-between gap-1">
      <div class="flex items-center gap-1">
        24H <span class="text-black font-semibold">73.23%</span>
      </div>
      <div class="flex items-center gap-1">
        Wk <span class="text-black font-semibold">98%</span>
      </div>
    </div>
    <div class="bg-gray2 rounded-md p-1 flex items-center justify-between gap-1">
      RTP 
      <span class="text-black font-semibold">73.23%</span>
    </div>
    <div class="bg-gray2 rounded-md p-1 flex items-center justify-between gap-1">
      Min - Max Bet. 
      <span class="text-black font-semibold">5</span>
    </div>
  </div>
</div>