<div class="mb-10">
    <!-- Q&A -->
  <div class="px-4 mt-4 text-blue text-2xl font-semibold" data-aos="fade-in" data-i18n="faqs_page.title"></div>

  <div class="px-4 mt-4" data-aos="fade-up">
    <div class="mt-4 flex flex-col gap-3 vip-faq-item">
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-1" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_1"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_1"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-2" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_2"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_2"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-3" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_3"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_3"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-4" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_4"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_4"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-5" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_5"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_5"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-6" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_6"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_6"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-7" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_7"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_7"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-8" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_8"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_8"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-9" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_9"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_9"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-10" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_10"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_10"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-11" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_11"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_11"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-12" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_12"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_12"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-13" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_13"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_13"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-14" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_14"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_14"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-15" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_15"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_15"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-16" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_16"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_16"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-17" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_17"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_17"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-18" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_18"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_18"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-19" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_19"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_19"></div>
        </div>
      </div>
      <div class="collapse collapse-arrow">
        <input class="!py-2 !min-h-[auto]" type="checkbox" value="faqs-20" name="faqs" />
        <div class="collapse-title !min-h-auto flex items-center !rounded-lg font-semibold bg-gray2 !py-3 after:!top-[22px]" data-i18n="faqs_page.title_20"></div>
        <div class="collapse-content !p-0 text-xs">
          <div class="p-4 bg-gray-100 mt-2 !rounded-lg" data-i18n="faqs_page.content_20"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-10 mt-4 text-center" data-aos="fade-up">
    <span class="" data-i18n="faqs_page.contact_us"></span>
    <a href="#" class=" font-semibold" data-i18n="faqs_page.live_chat"></a>
  </div>
</div>