<div class="flex flex-col gap-4 max-h-[70vh] overflow-y-auto">
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>
  
  <!-- 1 -->
  <div class="flex flex-col gap-2 rounded-lg p-4 bg-gradient-to-b from-[rgba(92,223,249,0.1)] via-[rgba(38,38,253,0.1)] to-[rgba(38,38,253,0.1)]">
    <div>
      B9 Caino NEWS is proud to be the Official Title Sponsor of the BK8 Gresini Racing Team for the 2025 and 2026 MotoGP seasons!
    </div>
    <div class="font-semibold">18/04/25, Friday</div>
  </div>



</div>
