<div class="flex flex-col gap-1">
  <div class="overflow-x-auto rounded-t-lg mb-2">
    <table class="table table-sm table-zebra">
      <!-- head -->
      <thead>
        <tr class="bg-gray2 border-b-0">
          <th class="!text-blue1 px-1 pl-2 py-3 text-xs" data-i18n="history_page.Date"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Transaction"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Turnover"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.W_L_Amount"></th>
        </tr>
      </thead>
      <tbody>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25</td>
          <td class="px-1 text-xs">145</td>
          <td class="px-1 text-xs">987.00</td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            - 535.66
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">23/2/25</td>
          <td class="px-1 text-xs">10</td>
          <td class="px-1 text-xs">999.00</td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            - 898.63
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">22/2/25</td>
          <td class="px-1 text-xs">300</td>
          <td class="px-1 text-xs">1,024.50</td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            2,300.52
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">21/2/25</td>
          <td class="px-1 text-xs">160</td>
          <td class="px-1 text-xs">89.54</td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
        </tr>


      </tbody>
    </table>
  </div>

  <!-- <div class="flex flex-col items-end">
    <div class="mt-3 join custom-pagination">
      <button class="join-item btn btn-sm" data-i18n="history_page.First"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Prev"></button>
      <button class="join-item btn btn-sm">1</button>
      <button class="join-item btn btn-sm btn-active">2</button>
      <button class="join-item btn btn-sm">3</button>
      <button class="join-item btn btn-sm">...</button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Next"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Last"></button>
    </div>
  </div> -->

  <div class="text-2xs text-end italic">
    <span data-i18n="history_page.Showing"></span>
    <span>1</span>
    <span data-i18n="history_page.to"></span>
    <span>4</span>
    <span data-i18n="history_page.of"></span>
    <span>4</span>
    <span data-i18n="history_page.entries"></span>
  </div>
</div>
