<div class="flex flex-col gap-1">
  <div class="overflow-x-auto rounded-t-lg mb-2">
    <table class="table table-sm table-zebra">
      <!-- head -->
      <thead>
        <tr class="bg-gray2 border-b-0">
          <th class="!text-blue1 px-1 pl-2 py-3 text-xs" data-i18n="history_page.Date"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Type"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Amount"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Status"></th>
        </tr>
      </thead>
      <tbody>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 15:35</td>
          <td class="px-1 text-xs" data-i18n="history_page.Bank_Transfer"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            1,200.00
          </td>
          <td class="px-1 text-xs">
            <span data-i18n="history_page.Pending"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 08:20</td>
          <td class="px-1 text-xs" data-i18n="history_page.Crypto"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            500.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-red-500 underline" data-i18n="history_page.Rejected" onclick="deposit_rejected_modal.showModal()"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 07:15</td>
          <td class="px-1 text-xs" data-i18n="history_page.eWallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            50.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-green-500" data-i18n="history_page.Approved"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 06:35</td>
          <td class="px-1 text-xs" data-i18n="history_page.Quick_Pay"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-green-500" data-i18n="history_page.Approved"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 04:20</td>
          <td class="px-1 text-xs" data-i18n="history_page.Quick_Pay"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-green-500" data-i18n="history_page.Approved"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 01:12</td>
          <td class="px-1 text-xs" data-i18n="history_page.Quick_Pay"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            600.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-green-500" data-i18n="history_page.Approved"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:45</td>
          <td class="px-1 text-xs" data-i18n="history_page.Quick_Pay"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            60.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-green-500" data-i18n="history_page.Approved"></span>
          </td>
        </tr>

         <!-- row 1 -->
         <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:40</td>
          <td class="px-1 text-xs" data-i18n="history_page.Crypto"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            30.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-red-500 underline" data-i18n="history_page.Rejected" onclick="deposit_rejected_modal.showModal()"></span>
          </td>
        </tr>

         <!-- row 1 -->
         <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:15</td>
          <td class="px-1 text-xs" data-i18n="history_page.Crypto"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            700.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-red-500 underline" data-i18n="history_page.Rejected" onclick="deposit_rejected_modal.showModal()"></span>
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:05</td>
          <td class="px-1 text-xs" data-i18n="history_page.Bank_Transfer"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
          <td class="px-1 text-xs">
            <span class="text-red-500 underline" data-i18n="history_page.Rejected" onclick="deposit_rejected_modal.showModal()"></span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="flex flex-col items-end">
    <div class="join custom-pagination">
      <button class="join-item btn btn-sm" data-i18n="history_page.First"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Prev"></button>
      <button class="join-item btn btn-sm">1</button>
      <button class="join-item btn btn-sm btn-active">2</button>
      <button class="join-item btn btn-sm">3</button>
      <button class="join-item btn btn-sm">...</button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Next"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Last"></button>
    </div>
  </div>

  <div class="text-2xs text-end italic">
    <span data-i18n="history_page.Showing"></span>
    <span>1</span>
    <span data-i18n="history_page.to"></span>
    <span>10</span>
    <span data-i18n="history_page.of"></span>
    <span>55</span>
    <span data-i18n="history_page.entries"></span>
  </div>
</div>


<!-- REJECTED MODAL -->
<dialog id="deposit_rejected_modal" class="modal">
  <div class="modal-box w-4/5 !p-0">
    <div class="flex items-center justify-between bg-blue1 text-white h-12 px-4">
      <form class="opacity-0" method="dialog">
        <button class="">
          <i class="fa-solid fa-circle-xmark text-white text-lg"></i>
        </button>
      </form>
      <div class="font-semibold" data-i18n="history_page.Rejected"></div>
      <form class="" method="dialog">
        <button class="">
          <i class="fa-light fa-circle-xmark text-white text-2xl"></i>
        </button>
      </form>
    </div>
    <div class="p-4">
      <div>
        <span data-i18n="history_page.Deposit_Rejected_Description"></span>
        <span class="font-semibold">[Type of Transaction]</span>
        <span data-i18n="history_page.Deposit_Rejected_Description_2"></span>
      </div>
      <div class="font-semibold italic p-2 rounded-lg bg-gray2 my-4" data-i18n="history_page.Funds_Not_Received"></div>
      <div data-i18n="history_page.Deposit_Rejected_Contact_Support"></div>
      <div class="mt-4">
        <button class="btn bg-gradient-to-b from-blue to-blue1 text-white rounded-lg w-full" data-i18n="history_page.Contact_Support" onclick="deposit_rejected_modal.close()"></button>
      </div>
    </div>
  </div>
</dialog>
<!-- REJECTED MODAL -->