<div class="flex flex-col gap-1">
  <div class="overflow-x-auto rounded-t-lg mb-2">
    <table class="table table-sm table-zebra">
      <!-- head -->
      <thead>
        <tr class="bg-gray2 border-b-0">
          <th class="!text-blue1 px-1 pl-2 py-3 text-xs" data-i18n="history_page.Date"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.From"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.To"></th>
          <th class="!text-blue1 px-1 py-3 text-xs" data-i18n="history_page.Amount"></th>
        </tr>
      </thead>
      <tbody>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 15:35</td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            1,200.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 08:20</td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            500.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 07:15</td>
          <td class="px-1 text-xs" data-i18n="history_page.4D"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            500.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 06:35</td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 04:20</td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 01:12</td>
          <td class="px-1 text-xs" data-i18n="history_page.CMD"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:45</td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            50.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:40</td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            50.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:15</td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            700.00
          </td>
        </tr>

        <!-- row 1 -->
        <tr class="border-b-0">
          <td class="px-1 text-xs">24/2/25, 00:05</td>
          <td class="px-1 text-xs" data-i18n="history_page.Main_Wallet"></td>
          <td class="px-1 text-xs" data-i18n="history_page.Others_Game"></td>
          <td class="px-1 text-xs">
            <i class="fa-solid fa-coins text-yellow-500"></i>
            300.00
          </td>
        </tr>


      </tbody>
    </table>
  </div>

  <div class="flex flex-col items-end">
    <div class="join custom-pagination">
      <button class="join-item btn btn-sm" data-i18n="history_page.First"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Prev"></button>
      <button class="join-item btn btn-sm">1</button>
      <button class="join-item btn btn-sm btn-active">2</button>
      <button class="join-item btn btn-sm">3</button>
      <button class="join-item btn btn-sm">...</button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Next"></button>
      <button class="join-item btn btn-sm" data-i18n="history_page.Last"></button>
    </div>
  </div>

  <div class="text-2xs text-end italic">
    <span data-i18n="history_page.Showing"></span>
    <span>1</span>
    <span data-i18n="history_page.to"></span>
    <span>10</span>
    <span data-i18n="history_page.of"></span>
    <span>55</span>
    <span data-i18n="history_page.entries"></span>
  </div>
</div>
