<dialog id="pokerKingCongratulationsModal" class="modal">
  <div class="modal-box text-center">
    <div class="z-10 flex flex-col gap-2">
      <h3 class="text-lg font-bold border-b border-gray2 pb-4" data-i18n="poker_king.Congratulations"></h3>
      <p class="py-4 whitespace-pre-line leading-6" data-i18n="poker_king.Congratulations_Description"></p>
      <div class="flex items-center justify-center gap-2 font-bold text-xl bg-gray6 p-2 border-3 border-gray7 rounded-full w-2/3 mx-auto">
        <i class="fa-solid fa-coins text-yellow-500 text-2xl"></i> SGD 500
      </div>
      <form method="dialog">
        <button id="draw-btn" class="bg-[url(assets/images/poker-king/Poker-Mini-Game-Btn.png)] bg-no-repeat bg-center bg-contain text-white text-center mt-2 text-base font-bold mx-auto w-[150px] h-[50px] flex items-center justify-center" data-i18n="poker_king.Collect"></button>
      </form>
    </div>
  </div>
</dialog>