<dialog id="pokerKingOopsModal" class="modal">
  <div class="modal-box text-center">
    <div class="z-10 flex flex-col gap-2">
      <h3 class="text-lg font-bold border-b border-gray2 pb-4" data-i18n="poker_king.Oops"></h3>
      <div class="py-4">
        <p class="whitespace-pre-line leading-6" data-i18n="poker_king.Oops_Description_1"></p>
        <p class="whitespace-pre-line leading-6 font-bold" data-i18n="poker_king.Oops_Description_2"></p>
        <p class="whitespace-pre-line leading-6" data-i18n="poker_king.Oops_Description_3"></p>
      </div>
      <form method="dialog">
        <button id="draw-btn" class="bg-[url(assets/images/poker-king/Poker-Mini-Game-Btn.png)] bg-no-repeat bg-center bg-contain text-white text-center mt-2 text-base font-bold mx-auto w-[150px] h-[50px] flex items-center justify-center" data-i18n="poker_king.Close"></button>
      </form>
    </div>
  </div>
</dialog>