<div class="px-4">
  <div class="flex flex-col gap-3 py-4 px-8 bg-gradient-to-b from-[rgba(92,223,249,0.2)] via-[rgba(38,38,253,0.2)] to-[rgba(38,38,253,0.2)] rounded-lg text-blue4">
    
    <!-- 1 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Royal Flush</div>
        <div class="font-semibold">SGD 500</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9">
      </div>
    </div>

    <!-- 2 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Straight Flush</div>
        <div class="font-semibold">SGD 100</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9">
      </div>
    </div>

    <!-- 3 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Four of the Kind</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9 opacity-50">
      </div>
    </div>

    <!-- 4 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Full House</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9">
      </div>
    </div>

    <!-- 5 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Full House</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9">
      </div>
    </div>

    <!-- 6 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Straight</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9">
      </div>
    </div>

    <!-- 7 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Three of the Kind</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9 opacity-50">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9 opacity-50">
      </div>
    </div>

    <!-- 8 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Two Pair</div>
        <div class="font-semibold">SGD 50</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9 opacity-50">
      </div>
    </div>

    <!-- 8 -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-1 text-xs">
        <div class="">Pair</div>
        <div class="font-semibold">SGD 3</div>
      </div>
      <div class="flex-1 flex items-center justify-end gap-2">
        <img src="assets/images/poker-king/Poker-Card-Spades-J.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-Q.png" alt="card" class="w-9">
        <img src="assets/images/poker-king/Poker-Card-Spades-K.png" alt="card" class="w-9 opacity-50">
        <img src="assets/images/poker-king/Poker-Card-Spades-10.png" alt="card" class="w-9 opacity-50">
        <img src="assets/images/poker-king/Poker-Card-Spades-1.png" alt="card" class="w-9 opacity-50">
      </div>
    </div>


  </div>
</div>