<div class="mt-4 flex flex-col gap-4 text-gray1">
  <div class="text-blue font-semibold text-base" data-i18n="poker_king.TERMS_AND_CONDITIONS"></div>
  <div class="flex flex-col gap-3">
    <div data-i18n="poker_king.Ticket_Redemption"></div>
    <ol class="list-decimal list-inside text-xs flex flex-col gap-1">
      <li data-i18n="poker_king.Ticket_Redemption_1"></li>
      <li data-i18n="poker_king.Ticket_Redemption_2"></li>
      <li data-i18n="poker_king.Ticket_Redemption_3"></li>
    </ol>
  </div>
  <div class="flex flex-col gap-3">
    <div data-i18n="poker_king.Example"></div>
    <ol class="list-decimal list-inside text-xs flex flex-col gap-1">
      <li data-i18n="poker_king.Example_1"></li>
      <li data-i18n="poker_king.Example_2"></li>
    </ol>
  </div>
  <div class="flex flex-col gap-3">
    <div data-i18n="poker_king.How_to_Play"></div>
    <div class="text-xs" data-i18n="poker_king.How_to_Play_1"></div>
  </div>
  <div class="flex flex-col gap-3">
    <div data-i18n="poker_king.Important_Notes"></div>
    <ol class="list-decimal list-inside text-xs flex flex-col gap-1">
      <li data-i18n="poker_king.Important_Notes_1"></li>
      <li data-i18n="poker_king.Important_Notes_2"></li>
      <li data-i18n="poker_king.Important_Notes_3"></li>
      <li data-i18n="poker_king.Important_Notes_4"></li>
    </ol>
  </div>
</div>