<div class="px-4">
  <div class="flex flex-col gap-4 p-4 bg-gradient-to-b from-[rgba(92,223,249,0.2)] via-[rgba(38,38,253,0.2)] to-[rgba(38,38,253,0.2)] rounded-lg text-blue4">
    <div class=" font-semibold text-xl" data-i18n="poker_king.TERMS_AND_CONDITIONS"></div>
    <div class="flex flex-col gap-3">
      <div class="text-base" data-i18n="poker_king.Ticket_Redemption"></div>
      <ol class="list-decimal list-inside text-xs flex flex-col gap-1 opacity-60">
        <li data-i18n="poker_king.Ticket_Redemption_1"></li>
        <li data-i18n="poker_king.Ticket_Redemption_2"></li>
        <li data-i18n="poker_king.Ticket_Redemption_3"></li>
      </ol>
    </div>
    <div class="flex flex-col gap-3">
      <div class="text-base" data-i18n="poker_king.Example"></div>
      <ol class="list-decimal list-inside text-xs flex flex-col gap-1 opacity-60">
        <li data-i18n="poker_king.Example_1"></li>
        <li data-i18n="poker_king.Example_2"></li>
      </ol>
    </div>
    <div class="flex flex-col gap-3">
      <div class="text-base" data-i18n="poker_king.How_to_Play"></div>
      <div class="text-xs opacity-60" data-i18n="poker_king.How_to_Play_1"></div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="text-base" data-i18n="poker_king.Important_Notes"></div>
      <ol class="list-decimal list-inside text-xs flex flex-col gap-1 opacity-60">
        <li data-i18n="poker_king.Important_Notes_1"></li>
        <li data-i18n="poker_king.Important_Notes_2"></li>
        <li data-i18n="poker_king.Important_Notes_3"></li>
        <li data-i18n="poker_king.Important_Notes_4"></li>
      </ol>
    </div>
  </div>
</div>