<div class="px-4">
  <div class="flex flex-col gap-4 bg-gradient-to-b from-[rgba(92,223,249,0.2)] via-[rgba(38,38,253,0.2)] to-[rgba(38,38,253,0.2)] rounded-lg text-blue4 border border-blue">

    <div class="flex flex-col gap-1">
      <div class="overflow-x-auto rounded-lg">
        <table class="table table-sm">
          <!-- head -->
          <thead>
            <tr class="bg-transparent border-b-blue">
              <th class="!text-blue py-2 text-base" data-i18n="poker_king.Date"></th>
              <th class="!text-blue py-2 text-base" data-i18n="poker_king.Player"></th>
              <th class="!text-blue py-2 text-base" data-i18n="poker_king.Type"></th>
              <th class="!text-blue py-2 text-base" data-i18n="poker_king.Prizes"></th>
            </tr>
          </thead>
          <tbody>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">Jav9xxx</td>
              <td class="text-xs">Three of the Kind</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                9.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>

            <!-- row 1 -->
            <tr class="border-b-blue">
              <td class="text-xs">24/2/25</td>
              <td class="text-xs">sen8xxx</td>
              <td class="text-xs">Full House</td>
              <td class="text-xs">
                <i class="fa-solid fa-coins text-yellow-500"></i>
                24.00
              </td>
            </tr>


          </tbody>
        </table>
      </div>

    </div>
  
  </div>
</div>


<div class="p-4 flex flex-col gap-2 items-center justify-center">

  <div class="flex flex-col items-end">
    <div class="join custom-pagination">
      <button class="join-item btn btn-sm !text-blue4" data-i18n="history_page.First"></button>
      <button class="join-item btn btn-sm !text-blue4" data-i18n="history_page.Prev"></button>
      <button class="join-item btn btn-sm !text-blue4">1</button>
      <button class="join-item btn btn-sm !text-blue4 btn-active">2</button>
      <button class="join-item btn btn-sm !text-blue4">3</button>
      <button class="join-item btn btn-sm !text-blue4">...</button>
      <button class="join-item btn btn-sm !text-blue4" data-i18n="history_page.Next"></button>
      <button class="join-item btn btn-sm !text-blue4" data-i18n="history_page.Last"></button>
    </div>
  </div>

  <div class="text-2xs text-end italic text-blue4">
    <span data-i18n="history_page.Showing"></span>
    <span>1</span>
    <span data-i18n="history_page.to"></span>
    <span>10</span>
    <span data-i18n="history_page.of"></span>
    <span>55</span>
    <span data-i18n="history_page.entries"></span>
  </div>


</div>