<!-- TABS -->
<div class="px-4 mt-2 !mb-40">
  <div class="tabs custom-tabs tabs-promotions">
    <div class="tab-list py-2 !gap-0" data-aos="fade-in">
      <!-- tab 1 -->
      <label class="tab">
        <input type="radio" name="promotions-tab" class="hidden" value="1" checked="checked" />
        <div data-i18n="B92U_Bank_page.B92U_Bank"></div>
      </label>

      <!-- tab 2 -->
      <label class="tab">
        <input type="radio" name="promotions-tab" class="hidden" value="2" />
        <div data-i18n="B92U_Bank_page.History"></div>
      </label>

      <!-- tab 3 -->
      <label id="B92U_bank__how_it_works_tab" class="tab">
        <input type="radio" name="promotions-tab" class="hidden" value="3" />
        <div data-i18n="B92U_Bank_page.How_it_Works"></div>
      </label>

      <!-- tab 4 -->
      <label id="B92U_bank__faq_tab" class="tab">
        <input type="radio" name="promotions-tab" class="hidden" value="4" />
        <div data-i18n="B92U_Bank_page.FAQ"></div>
      </label>

    </div>
    
    <div class="tab-content-list w-full flex flex-col gap-4" data-aos="fade-up">
      <div class="tab-content-item">
        @@include('./tab-content-item1.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-item2.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-item3.html')
      </div>
      <div class="tab-content-item">
        @@include('./tab-content-item4.html')
      </div>
    </div>
  </div>
</div>
