<div class="flex flex-col gap-4 B92U-bank-collapse">
  <div class="flex flex-col gap-0 w-full">
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_1" value="B92U_bank__faq_1" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_1"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_1_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_2" value="B92U_bank__faq_2" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_2"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_2_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_3" value="B92U_bank__faq_3" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_3"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_3_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_4" value="B92U_bank__faq_4" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_4"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_4_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_5" value="B92U_bank__faq_5" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_5"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_5_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_6" value="B92U_bank__faq_6" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_6"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_6_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_7" value="B92U_bank__faq_7" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_7"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_7_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_8" value="B92U_bank__faq_8" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_8"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_8_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_9" value="B92U_bank__faq_9" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_9"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_9_desc"></div>
      </div>
    </div>
    <div class="collapse collapse-arrow w-full border-b border-gray1 rounded-none" data-aos="fade-up">
      <input id="B92U_bank__faq_10" value="B92U_bank__faq_10" type="checkbox" name="B92U_Bank_page_faq" class="!py-3 !min-h-auto" />
      <div class="collapse-title font-semibold pl-4 pr-8 py-3 !min-h-auto after:!top-[20px] text-sm" data-i18n="B92U_Bank_page.faq_10"></div>
      <div class="collapse-content flex flex-col gap-2">
        <div class="text-sm font-light" data-i18n="B92U_Bank_page.faq_10_desc"></div>
      </div>
    </div>
  </div>
</div>