<div class="flex flex-col gap-4">
  
  <div class="-mx-4 flex items-center justify-start gap-2 bg-blue3 px-4 py-2">
    <div data-i18n="B92u_Bank_page.Filter"></div>
    <select class="select min-w-20 w-auto rounded-full h-9 border-none font-semibold">
      <option>All</option>
      <option>Deposit</option>
      <option>Withdrawal</option>
    </select>
  </div>

  <div class="mt-2">
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-red-500">-SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-red-500">-SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-red-500">-SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-red-500">-SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-red-500">-SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
    <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
      <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
      <div class="flex flex-col items-end gap-0">
        <div class="font-semibold text-green-600">+SGD 122.31</div>
        <div class="text-3xs text-gray-400">14 May, 14:35</div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center gap-2">
    <div data-i18n="B92u_Bank_page.Swipe_down_to_Load_More"></div>
    <i class="fa-solid fa-spinner animate-spin"></i>
  </div>

</div>