<div class="flex flex-col gap-4">

  <div class="bg-gray2 rounded-xl p-4 flex flex-col gap-2 items-center justify-center">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.Total_Balance_SGD"></div>
    <div class="text-3xl font-bold flex items-center gap-2">
      <span>500</span>
      <i class="fa-solid fa-arrows-rotate text-base font-normal"></i>
    </div>
    <div class="flex items-center justify-center gap-1 p-3 w-full bg-blue rounded-lg text-white">
      <div data-i18n="B92u_Bank_page.Daily_Earning_Credited"></div>
      <div class="font-semibold">SGD 0.013</div>
    </div>
    <div class="flex flex-col gap-2 w-full mt-2">
      <div class="flex items-center justify-between gap-2">
        <div data-i18n="B92u_Bank_page.Total_Earnings"></div>
        <div class="font-semibold">SGD 51.44</div>
      </div>
      <div class="flex items-center justify-between gap-2">
        <div>
          <span data-i18n="B92u_Bank_page.Nett_Daily_Return_Rate_circle_info"></span>
          <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="font-semibold">9% p.a</div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between gap-4">
    <button class="flex-1 rounded-lg bg-gradient-to-b h-10 from-blue to-blue1 text-white" data-i18n="B92u_Bank_page.Transfer_In"></button>
    <button class="flex-1 rounded-lg bg-white h-10 text-blue border border-blue" data-i18n="B92u_Bank_page.Withdrawal_Out"></button>
    <button class="flex-1 rounded-lg bg-white h-10 text-blue border border-blue relative">
      <span class="absolute -top-3 inset-x-0 text-4xs text-white flex items-center justify-center">
        <span class="bg-blue1 rounded-md px-4">Get Extra 1.1%</span>
      </span>
      <span data-i18n="B92u_Bank_page.Deposit_to_B9"></span>
    </button>
  </div>

  <div class="flex items-center justify-center">
    <img src="assets/images/b92u-bank/B9-B92ubank-banner-365x200px.png" alt="b92u-bank-qr-code" class="w-full" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <div class="text-base font-semibold" data-i18n="B92u_Bank_page.5_Latest_Transactions"></div>
      <a href="#" class="text-sm font-semibold text-blue" data-i18n="B92u_Bank_page.View_All"></a>
    </div>

    <div class="mt-2">
      <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
        <div data-i18n="B92u_Bank_page.Deposit_to_main_wallet"></div>
        <div class="flex flex-col items-end gap-0">
          <div class="font-semibold text-red-500">-SGD 122.31</div>
          <div class="text-3xs text-gray-400">14 May, 14:35</div>
        </div>
      </div>
      <div class="flex items-start justify-between border-b border-gray1 pb-2 mt-2">
        <div data-i18n="B92u_Bank_page.Withdraw_to_B92U_Bank"></div>
        <div class="flex flex-col items-end gap-0">
          <div class="font-semibold text-green-600">+SGD 122.31</div>
          <div class="text-3xs text-gray-400">14 May, 14:35</div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2 mt-2">
    <div class="flex items-center justify-between pb-2">
      <div class="text-base font-semibold" data-i18n="B92u_Bank_page.Need_Assistance"></div>
    </div>

    <div class="flex flex-nowrap overflow-x-auto gap-4 scrollbar-hide -mr-4 pr-4">
      <div class="flex-none w-[140px] bg-gray2 rounded-lg p-3" data-i18n="B92u_Bank_page.Need_Assistance1"></div>
      <div class="flex-none w-[140px] bg-gray2 rounded-lg p-3" data-i18n="B92u_Bank_page.Need_Assistance2"></div>
      <div class="flex-none w-[140px] bg-gray2 rounded-lg p-3" data-i18n="B92u_Bank_page.Need_Assistance3"></div>
    </div>
  </div>

  <div class="w-full bg-gray2 rounded-lg p-3 text-center font-semibold" data-i18n="B92u_Bank_page.User_Guideline_How_it_Works"></div>

  <div class="flex items-center justify-center gap-1">
    <div data-i18n="B92u_Bank_page.Need_More_Assistance_Contact_247"></div>
    <a href="#" class="font-semibold underline" data-i18n="B92u_Bank_page.Live_Chat"></a>
  </div>

</div>
