<div class="flex flex-col gap-4 mb-4">

  <div class="flex flex-col gap-2">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.EVERYTHING_ABOUT_B92U_BANK"></div>
    <img src="assets/images/b92u-bank/B9-B92ubank-banner-365x150px.png" alt="b92u-bank-banner" class="w-full" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.What_Can_I_Do_With_B92U_Bank"></div>
    <div class="" data-i18n="B92u_Bank_page.What_Can_I_Do_With_B92U_Bank_desc"></div>
    <img src="assets/images/b92u-bank/B9-B92ubank-banner1-365x150px.png" alt="b92u-bank-banner" class="w-full" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.How_Do_I_View_My_B92U_Bank_Earnings"></div>
    <div class="" data-i18n="B92u_Bank_page.How_Do_I_View_My_B92U_Bank_Earnings_desc"></div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.How_Do_I_Transfer_Cash_Into_B92U_Bank"></div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step1.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_1"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_1_desc"></div>
      </div>
    </div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step2.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_2"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_2_desc"></div>
      </div>
    </div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step3.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_3"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_3_desc"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="text-base font-semibold" data-i18n="B92u_Bank_page.How_Do_I_Transfer_Cash_Out_of_B92U_Bank"></div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step1-1.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_1"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_1_1_desc"></div>
      </div>
    </div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step1-2.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_2"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_1_2_desc"></div>
      </div>
    </div>
    <div class="bg-gray2 rounded-xl p-2 flex gap-2 items-center justify-start">
      <div class="flex-none">
        <img src="assets/images/b92u-bank/B9-Step1-3.png" alt="b92u-bank-banner" class="w-[70px]" />
      </div>
      <div>
        <div class="text-lg font-semibold uppercase" data-i18n="B92u_Bank_page.Step_3"></div>
        <div class="" data-i18n="B92u_Bank_page.Step_1_3_desc"></div>
      </div>
    </div>
  </div>
  
</div>